<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Formation proposée par l'administration</th>
                </tr>
            </thead>
            <tbody>
                {% for formationSollicitee in crep.formationsSollicitees %}
                    {% if formationSollicitee.origine is not null and formationSollicitee.origine==0 %}
                    	<tr>
	                        <td>{{ formationSollicitee.libelle }}</td>
                        </tr>
                    {% endif %}
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="col-md-4 col-sm-12 col-xs-12">
    	<table class="table table-bordered">
            <thead>
                <tr>
                    <th>Formation demandée par l'agent</th>
                </tr>
            </thead>
             <tbody>
                {% for formationSollicitee in crep.formationsSollicitees %}
                    {% if formationSollicitee.origine==1 %}
                    	<tr>
                        	<td>{{ formationSollicitee.libelle }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>           
    	</table>
    </div>
    
    <div class="col-md-4 col-sm-12 col-xs-12">
    	<table class="table table-bordered">
            <thead>
                <tr>
                    <th>Formation demandée par les deux parties</th>
                </tr>
            </thead>
             <tbody>
                {% for formationSollicitee in crep.formationsSollicitees %}
                    {% if formationSollicitee.origine==2 %}
                    	<tr>
                        	<td>{{ formationSollicitee.libelle }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>           
    	</table>
    </div>    
</div>
