{# {% form_theme form 'crep/crepMindef/Form/App_form_crepMindef.html.twig' %}#}
{% form_theme form 'crep/crepMindef/_include/edit/iii/1.form.html.twig' %}


<div class="row" id="competencesDeclareesCollection" data-prototype="{{ form_widget(form.competencesDeclarees.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th colspan="4" class="text-center">Niveaux</th>
                <th style="width: 0; border-bottom:0"></th>
            </tr>
            <tr>
                <th>Compétences</th>
                <th style="width: 12%" class="text-center">Sensibilisation</th>
                <th style="width: 12%" class="text-center">Application</th>
                <th style="width: 12%" class="text-center">Maîtrise</th>
                <th style="width: 12%" class="text-center">Expertise</th>
                <th style="width: 0; border-top:0"></th>
            </tr>
            </thead>
            <tbody>
{#             <tr></tr>#}
            {% for competence in form.competencesDeclarees %}
                {{ form_widget(competence) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link competencesDeclarees pull-right">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>