<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt> Si l’évaluation ne peut être assurée par le N+1 (indiquer les raisons) : </dt>
            <dd class="well well-xs">
                {{ crep.motifAbsenceEntretien | nl2br }}
            </dd>
        </dl>
    </div>
</div>
<div>
</div>
<br><br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
        <label>L’entretien professionnel n’a pu se tenir en raison de la présence insuffisante de l’agent au cours de la période de référence (motifs) :</label>
        &nbsp;&nbsp;
        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.motifAbsenceAgent == 0 and crep.motifAbsenceAgent is not null %}
                        checked="checked"
                    {% endif %}
            >
        </label> non activité (durée de l'absence)&nbsp;&nbsp;
        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.motifAbsenceAgent == 1 and crep.motifAbsenceAgent is not null %}
                        checked="checked"
                    {% endif %}
            >
        </label> congés&nbsp;&nbsp;

        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.motifAbsenceAgent == 2 and crep.motifAbsenceAgent is not null %}
                        checked="checked"
                    {% endif %}
            >
        </label> autres&nbsp;&nbsp;
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de l’entretien professionnel </label>
        <div class="col-md-9 col-sm-9 col-xs-12 well well-xs">{% if crep.dateEntretien %}{{ crep.dateEntretien | date('d/m/Y') }}{% endif %}</div>
    </div>
</div>

<br>
