<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt> Si l’évaluation ne peut être assurée par le N+1 (indiquer les raisons) : </dt>
            <dd class="well well-xs">
                {{ crep.motifAbsenceEntretienShd | nl2br }}
            </dd>
        </dl>
    </div>
</div>

