{% extends 'email/mail.base.html.twig' %}

{% block corpsMessage %}

    <tr>
        <td class="content-block">
        	Bonjour,
         </td>
    </tr>
    <tr>
        <td class="content-block">
            Nous vous informons que dans le cadre de la campagne "{{ agent.campagneBrhp.libelle }}" concernant l'évaluation professionnelle 
	de l'année {{ agent.campagneBrhp.anneeEvaluee }}, un nouvel agent vient de vous être rattaché.
		</td>
    </tr>
    <tr>
        <td class="content-block">
        	Pour plus d'information, nous vous invitons à vous connecter à l'application {{ appName }} en cliquant sur le lien suivant :
		</td>
    </tr>
    <tr>
        <td class="content-block" align="center">
            <a class="btn_mail_link" href="{{ url('campagne_shd_show',{'id' : agent.campagneBrhp.id}) }}">Accéder à la campagne</a>
        </td>
    </tr> 
    
{% endblock %}