{% extends 'email/mail.base.html.twig' %}

{% block corpsMessage %} 
	
	<tr>
        <td class="content-block">
        	Bonjour,
         </td>
    </tr>
    <tr>
        <td class="content-block">
            Nous vous informons que la campagne "{{ campagne.libelle }}" concernant l'évaluation professionnelle 
	de l'année {{ campagne.anneeEvaluee }} est ouverte aux agents.
		</td>
    </tr>
    <tr>
        <td class="content-block">
        	Nous vous invitons à vous connecter à l'application {{ appName }} en cliquant sur le lien suivant :
        </td>
    </tr>
    <tr>
        <td class="content-block" align="center">
            <a class="btn_mail_link" href="{{ url('campagne_agent_show',{'id' : campagne.id}) }}" class="btn_mail_link">Accéder à la campagne</a>
        </td>
    </tr> 
    
{% endblock %}