{% form_theme form 'crep/crepMinefContract/Form/App_form_crep_minef_contract_6.html.twig' %}

<div class="row">
    {{ form_row(form.datePriseFonctions, { 'label': "Date de prise de fonctions"}) }}
</div>


