<h3>Synthèse générale relative aux objectifs</h3>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations du supérieur hiérarchique direct</dt>
            <dd class="well well-xs">
                {{ crep.observationsShdObjectifsEvalues|nl2br }}
            </dd>
        </dl>
    </div>
</div>



