<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 45%">Définition de l'objectif <small>(si nécessaire, préciser les actions à conduire et les résultats attendus)</small></th>
                    <th style="width: 18%">Échéance</th>
                    <th style="width: 35%">Conditions de réussite <small>(liées à l'agent ou/est à des facteurs externes)</small></th>
                </tr>
            </thead>
            <tbody>
            {% for objectifFutur in crep.objectifsFuturs %}
                <tr>
                    <td>{{ objectifFutur.libelle | nl2br }}</td>
                    <td>{{ objectifFutur.echeance| nl2br}}</td>
                    <td>{{ objectifFutur.observationsEventuelles | nl2br }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>