{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_6.html.twig' %}

<div class="row">
	{{ form_row(form.noteAgent, { 'label': "Note chiffrée attribuée à l’agent", 'info': "DAP uniquement" }) }}
</div>
