{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_12.html.twig' %}

<div class="row">
	{{ form_row(form.observationsVisaAgent, { 'label': "de l’agent", 'attr': {'class':'champMisEnEvidence'}}) }}
</div>