{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_12.html.twig' %}

<div class="row">
	{{ form_row(form.capacitesDecisions, { 'label': "Capacité à remplir les fonctions d'un grade ou corps supérieur" }) }}
</div>

<div class="row">
	{{ form_row(form.mobiliteFonctionnelleOuGeographique, { 'label': "Mobilité fonctionnelle ou géographique envisagée" }) }}
</div>
