{% extends "base.html.twig" %}

{% block frameTitle%}Erreur {{ status_code }}{% endblock frameTitle %}

{% block body %}
<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h1 class="error-number">{{ status_code }}</h1>
                    <h2>L'administrateur a été notifié de cette erreur.</h2>
                    <p>{{ status_text }}</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>
{% endblock body %}
