<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 30%"></th>
					<th style="width: 10%" class="text-center">A DEVELOPPER</th>
					<th style="width: 10%" class="text-center">EN COURS D'ACQUISITION</th>
					<th style="width: 10%" class="text-center">MAITRISEE</th>
					<th style="width: 40%" class="text-center">OBSERVATIONS</th>
				</tr>
			</thead>
			<tbody>
				{% for competenceProfessionnelle in crep.competencesProfessionnelles %}
				<tr>
					<td>{{ competenceProfessionnelle.libelle }}</td> {% for index in 0..2 %}
					<td class="text-center">{{
						competenceProfessionnelle.niveauRequis|iconCheck(loop.index0)|raw }}</td> {%
					endfor %}
					<td>{{ competenceProfessionnelle.appreciation|nl2br }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

