<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 30%">Autres competences du poste</th>
					<th style="width: 10%" class="text-center">COMPOSANTE FAIBLE</th>
					<th style="width: 10%" class="text-center">COMPOSANTE MOYENNE</th>
					<th style="width: 10%" class="text-center">COMPOSANTE DOMINANTE</th>
					<th style="width: 40%" class="text-center">OBSERVATIONS</th>
				</tr>
			</thead>
			<tbody>
				{% if (crep.autresCompetencesProfessionnelles is empty) %} {% for index in	0..1 %}
				<tr>
					<td><br></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				{% endfor %} {% else %} {% for autreCompetenceProfessionnelle in crep.autresCompetencesProfessionnelles %}
				<tr>
					<td>{{ autreCompetenceProfessionnelle.libelle }}</td> {% for index in 0..2 %}
					<td class="text-center">{{
						autreCompetenceProfessionnelle.niveauRequis|iconCheck(loop.index0)|raw }}</td>
					{% endfor %}
					<td>{{ autreCompetenceProfessionnelle.appreciation|nl2br }}</td>
				</tr>
				{% endfor %} {% endif %}
			</tbody>
		</table>
	</div>
</div>
