<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="row form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<p class="well well-xs">{{ crep.appreciationGenerale|nl2br }}</p>
			</div>
		</div>
	</div>
</div>