{% form_theme form 'crep/crepScl02/Form/App_form_crepScl02_12.html.twig' %}

<br>
<span>Ils sont appréciés, notamment, par rapport à la fiche de poste et au répertoire des métiers et des compétences. </span>
<br>
<div class="row">
    {{ form_row(form.acquisExperiencePro, {'label': 'Les compétences et connaissances acquises sur le poste :'}) }}
</div>

<br/>