{% use "Form/App_bootstrap_3_horizontal_layout.html.twig" %}



{% block form_group_class -%}
	{% if label == false %}
            col-md-12 col-sm-12 col-xs-12    		
    {% else %}
    		col-md-9 col-sm-9 col-xs-12 
    {% endif %}
{% endblock form_group_class %}


{% block form_row -%}
	<div class="col-md-6 col-sm-6 col-xs-12">
		{{- parent() -}}
	</div>
{%- endblock form_row %}