{% extends 'BrhpConsult/new.html.twig' %}

{% block frameTitle %}BRHP consultation{% endblock frameTitle %}
{% block formTitle %}Modification d'un acteur RH de proximité consultation (BRHP consultation){% endblock formTitle %}

{% block bouton_submit %}
	<a href=""><button type="submit" class="btn btn-primary pull-right"><i class="fa fa-floppy-o"></i> Enregistrer</button></a>
{% endblock bouton_submit %}
