{% form_theme form 'crep/crepDgac/Form/App_form_crepDgac_12.html.twig' %}

<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>Commentaires éventuels du supérieur hiérarchique</label>
        {{ form_widget(form.observationsShd ,{'attr': {'maxlength':
            '4096'}}) }}
    </div>
</div>