
<div class="row form-group">
	<div class="col-md-6 col-sm-6 col-xs-12">
    	<label class="control-label col-md-6 col-sm-6 col-xs-12">Note chiffrée attribuée à l’agent<br><small>(DAP uniquement)</small></label>
        <div class="col-md-2 col-sm-2 col-xs-12 well well-xs text-center ">
            {{ crep.noteAgent }}/20
        </div>
    </div>
</div>
