<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations de l'agent sur le déroulement de l’entretien et les thèmes abordés</dt>
            <dd class="well well-xs">
                {{ crep.observationsAgentDeroulementEntretien|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations de l'agent sur les appréciations portées</dt>
            <dd class="well well-xs">
                {{ crep.observationsAgentAppreciationsPortees|nl2br }}
            </dd>
        </dl>
    </div>
</div>