{% form_theme form 'crep/crepDgac/Form/App_form_crepDgac_6.html.twig' %}

<div class="row">{{ form_row(form.nomUsageShd, { 'label': "Nom" }) }} {{
	form_row(form.prenomShd, { 'label': "Prénom" }) }}</div>


<div class="row">{{ form_row(form.fonctionExerceeShd, { 'label':
	"Fonction" }) }}</div>