{% form_theme form 'crep/crepMindef/Form/App_form_crepMindef.html.twig' %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td></td>
                    <th style="width: 12%" class="text-center">A / N1</th>
                    <th style="width: 12%" class="text-center">B / N2</th>
                    <th style="width: 12%" class="text-center">C / N3</th>
                    <th style="width: 12%" class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre d'agents encadrés par catégorie</td>
                    <td>{{ form_widget(form.nbAgentsEncadresA) }}</td>
                    <td>{{ form_widget(form.nbAgentsEncadresB) }}</td>
                    <td>{{ form_widget(form.nbAgentsEncadresC) }}</td>
                    <td>
                        <div id="result_nb_agents" class="text-center">
                            {{ form.nbAgentsEncadresA.vars.data + form.nbAgentsEncadresB.vars.data + form.nbAgentsEncadresC.vars.data }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>