.idea
/app/config/parameters.yml
/bin/
/bin/phpunit
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/css
/web/documents
/web/documents_aide
/web/gentelella-1.3.0
/web/js
/web/Maquettes
