<div class="row form-group project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Nature des travaux</p>
		<p class="well well-xs">{{ crep.autresActivites|nl2br }}</p>
    </div>
</div>
<div class="row form-group project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Analyse des résultats</p>
		<p class="well well-xs">{{ crep.resultatAutresActivites|nl2br }}</p>
    </div>
</div>
