{# vii 2 #}

<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" colspan="2">Souhaitez-vous que l’agent-e fasse l’objet de l’attribution d’un complément indemnitaire annuel (CIA) ?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" class="flat" disabled="disabled"
                                    {% if crep.agent and crep.agent.ah and crep.attributionCia %}
                                       checked="checked"
                                   {% endif %}
                            >
                        </label> Oui
                    </td>
                    <td>
                        <label>
                            <input type="checkbox" class="flat" disabled="disabled"
                                    {% if crep.agent and crep.agent.ah and not crep.attributionCia and crep.attributionCia is not null %}
                                        checked="checked"
                                    {% endif %}
                            >
                        </label> Non
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label> Avis circonstancié :</label>
                        <p class="well well-xs">
                            {% if crep.agent and crep.agent.ah %}
                                {{ crep.explicationAttributionCia|nl2br}}
                            {% endif %}
                        </p>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<br>

{% set propositionsAvancement = ['Oui', 'Non', 'Sans objet'] %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="3" class="text-center">Proposition d’inscription au prochain tableau d’avancement de grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for index2 in 0..2 %}
                        <td class="text-center" style="width: 33%">
                            <label>
                                <input type="checkbox" class="flat" disabled="disabled"
                                {% if crep.propositionAvancement is not null and crep.propositionAvancement == index2 %}
                                    checked="checked"
                                {% endif %}
                                >
                            </label>
                            {{ propositionsAvancement[index2] }}
                            <br/>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br>
