<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
        <label>Souhaitez-vous que l’agent-e fasse l’objet de l’attribution d’un complément indemnitaire annuel (CIA) ? </label>

        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.agent and crep.agent.ah and crep.attributionCia %}
                        checked="checked"
                    {% endif %}
            >
        </label> Oui
        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.agent and crep.agent.ah and not crep.attributionCia and crep.attributionCia is not null %}
                        checked="checked"
                    {% endif %}
            >
        </label> Non
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt> Avis circonstancié </dt>
            <dd class="well well-xs">
                {{ crep.observationsPotentielEvolutionAgent | nl2br }}
            </dd>
        </dl>
    </div>
</div>

<br>

{% set propositionsAvancement = ['Oui', 'Non', 'Sans objet'] %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
        <label>Proposition d’inscription au prochain tableau d’avancement de grade</label>

        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.agent and crep.agent.ah and crep.propositionAvancement == 0 and crep.propositionAvancement is not null %}
                        checked="checked"
                    {% endif %}
            >
        </label> Oui
        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.agent and crep.agent.ah and crep.propositionAvancement == 1 and crep.propositionAvancement is not null %}
                        checked="checked"
                    {% endif %}
            >
        </label> Non

        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.agent and crep.agent.ah and crep.propositionAvancement == 2 and crep.propositionAvancement is not null %}
                        checked="checked"
                    {% endif %}
            >
        </label> Sans objet
    </div>
</div>
<br>
