{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_6.html.twig' %}

<div class="row">
    {{ form_row(form.datePriseFonctions, { 'label': "Date de prise de fonctions"}) }}
</div>

<div class="row">
    {{ form_row(form.groupeFonctions, { 'label': "Groupe de fonctions (RIFSEEP) / Coefficient F de la PFR ou assimilé "}) }}
</div>

<br/>