<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Connaissances de l'institution et de son organisation</dt>
            <dd class="well well-xs">
                {{ crep.connaissancesInstitution|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Connaissances professionnelles</dt>
            <dd class="well well-xs">
                {{ crep.connaissancesProfessionnelles|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Expérience à l'encadrement </dt>
            <dd class="well well-xs">
                {{ crep.experienceEncadrement|nl2br }}
            </dd>
        </dl>
    </div>
</div>