<div class="row">
    {{ form_row(form.formationsEffectuees, {'label': "L’agent a-t-il effectué des formations au cours des trois
    dernières années ? ", 'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'} }) }}
</div>
