{% form_theme form 'crep/crepMj02/Form/App_form_crepMj02_12.html.twig' %}

<div class="row">
    <span>
            La partie relative à la formation est impérativement abordée lors de l’entretien professionnel et le formulaire de la page 8 du présent document doit être complété.
    </span>
</div>
