<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Date de l'entretien</dt>
            <dd>{% if crep.dateEntretien %}{{ crep.dateEntretien | date('d/m/Y') }}{% endif %}</dd>
        </dl>
    </div>
</div>
<br>