<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Moyens à disposition de l’agent (si la précision est utile)</dt>
            <dd class="well well-xs">
                {{ crep.commentaireFonctionAgent|nl2br }}
            </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Nombre et catégorie des agents encadrés (le cas échéant)</dt>
            <dd class="well well-xs">
                {{ crep.agentsEncadres|nl2br }}
            </dd>
        </dl>
    </div>
</div>




