<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Perspectives d’évolution du poste</dt>
            <dd class="well well-xs">
                {{ crep.perspectivesEvolutionFonction|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations éventuelles de l’agent sur le poste et les fonctions ; qualité de vie au travail, notamment
                en termes de charge de travail, d’organisation du travail et d’horaires
            </dt>
            <dd class="well well-xs">
                {{ crep.observationsAgentSurSonActivite|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations éventuelles de l’évaluateur</dt>
            <dd class="well well-xs">
                {{ crep.observationsShd|nl2br }}
            </dd>
        </dl>
    </div>
</div>





