{% form_theme form 'crep/crepDgac/Form/App_form_crepDgac_12.html.twig' %}

<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>Compétences professionnelles a développer</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_row(form.competenceDemandeAgent,{ 'label': '- à la demande de l\'agent :', 'attr': {'maxlength':
            '4096'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_row(form.competenceDemandeShd,{ 'label': '- à la demande de la hiérarchie :', 'attr': {'maxlength':
            '4096'}}) }}
    </div>
</div>