<div class="row form-group project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
    	<p class ="title"> Évolution sur le poste actuel </p>
        <p class="well well-xs"> {{ crep.evolutionPosteActuel|nl2br }}</p>
    </div>
</div>

<div class="row form-group project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
    	<p class ="title"> Mobilité fonctionnelle interne ou externe ou mobilité géographique   </p>
        <p class="well well-xs"> {{ crep.mobilite|nl2br }}</p>
    </div>
</div>