<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="7">
                    Appréciation générale sur la valeur professionnelle de l’agent-e
                    (résultats – compétences – manière de servir)
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ form_row(form.appreciationGenerale, {'label':false, 'attr': {'maxlength': '4096'}}) }}
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<br>
