<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Objectifs permanents :</label><p class="well well-xs">
            {{ crep.objectifsPermanentsAvenir|nl2br }}</p>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Objectifs particuliers :</label><p class="well well-xs">
            {{ crep.objectifsParticuliersAvenir|nl2br }}</p>
	</div>
</div>
<br>
