<div class="row form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
{#     	<div class="col-md-12 col-sm-12 col-xs-12">#}
{#     		<label>La fiche de poste  reflète-t-elle cette réalité ? Le contenu du poste a-t-il subi des modifications depuis le dernier entretien ? Contraintes liées au poste, à l’organisation, etc.</label>#}
{#     	</div>#}
		<div class="row form-group">
		    <div class="col-md-12 col-sm-12 col-xs-12">
		        <label>Objectifs permanents :</label><p class="well well-xs">
		         {{ crep.objectifsPermanentsAvenir|nl2br }}</p>
		    </div>
		</div>
		
		<div class="row form-group">
		    <div class="col-md-12 col-sm-12 col-xs-12">
		        <label>Objectifs particuliers :</label><p class="well well-xs">
		        {{ crep.objectifsParticuliersAvenir|nl2br }}</p>
		    </div>
		</div>
    </div>
</div>
