<div class="row form-group">
	<label>Objectifs permanents :</label><p class="well well-xs">
		{{ crep.objectifsPermanentsAvenir|nl2br }}</p>
</div>
<div class="row form-group">
	<label>Objectifs particuliers :</label><p class="well well-xs">
		{{ crep.objectifsParticuliersAvenir|nl2br }}</p>
</div>
<br>
