<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Nom</dt>
            <dd>
                {% if crep.nomUsageShd %}
                    {{ crep.nomUsageShd }}
                {% endif %}
            </dd>
            <br>
            <dt>Prénom</dt>
            <dd>
            {% if crep.prenomShd %}
                {{ crep.prenomShd }}
            {% endif %}
            </dd>
        </dl>
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Fonctions exercées</dt>
            <dd>
                {% if crep.shdSignataire %}
                    {{ crep.posteOccupeShd }}
                {% endif %}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Date</dt>
            <dd>{% if crep.dateVisaShd %}{{ crep.dateVisaShd|date('d/m/Y H:i') }}{% endif %}</dd>
        </dl>
    </div>
</div>