{% form_theme form 'crep/crepDgac/Form/App_form_crepDgac_12.html.twig' %}

<div class="row form-group">
	<label>Objectifs permanents</label>
		{{ form_widget(form.objectifsPermanentsAvenir,{'attr': {'maxlength':
			'4096'}}) }}
</div>

<div class="row form-group">
	<label>Objectifs particuliers</label>
		{{ form_widget(form.objectifsParticuliersAvenir,{'attr': {'maxlength':
			'4096'}}) }}
</div>
<br>
