{% if is_granted(constant('AppBundle\\Security\\CrepVoter::VOIR'), agent.crep) %}
	{%if agent.crep and agent.crep.crepPapier %}
		{% set iconeCrep = "fa-file-pdf-o" %}
	{% else %}
		{% set iconeCrep = "fa-file-text-o" %}
	{% endif %}

	<a href="{{ path('crep_show', { 'id': agent.crep.id }) }}" title="Consulter le CREP" style="text-align: center; display: block;"><i class="fa {{ iconeCrep }}"></i></a>
{% else %}
{# 	<i class="fa fa-file-text-o disabled" title="CREP non accessible" style="text-align: center; display: block;"></i>#}
{% endif %}