<html>

<head>
	<title>
		vide
	</title>
</head>

<body>
	vide
	<br>
	#{{ "now"|date("d/m/Y H:i:s", "Europe/Paris") }}
{# 	campagneBrhp.statut == constant('AppBundle\\EnumTypes\\EnumStatutCampagne::CREEE') #}

</body>

</html>