<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label class="col-md-5 col-sm-5 col-xs-12">Globalement, les objectifs sont :</label>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                        {% if crep.contexteResultats == '0' and crep.contexteResultats is not null %}
                            checked="checked"
                        {% endif %}
                >&nbsp;&nbsp;Atteints
            </label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                        {% if crep.contexteResultats == '1' %}
                            checked="checked"
                        {% endif %}
                >&nbsp;&nbsp;Partiellement
            </label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                        {% if crep.contexteResultats == '2' %}
                            checked="checked"
                        {% endif %}
                >&nbsp;&nbsp;Non atteints
            </label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                        {% if crep.contexteResultats == '3' %}
                            checked="checked"
                        {% endif %}
                >&nbsp;&nbsp;Devenus sans objet
            </label>
        </div>
    </div>
</div>
