<table id="shd_agents_sans_shd" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>Agent</th>
			<th>Email</th>
			<th>Affectation</th>
			<th>N+2</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>