{% form_theme form 'crep/crepScl02/Form/App_form_crepScl02_12.html.twig' %}

{% if crep.statut == constant('AppBundle\\EnumTypes\\EnumStatutCrep::VISE_AGENT') %}
    {% set class = 'champMisEnEvidence' %}
{% else %}
    {% set class = '' %}
{% endif %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Observations</dt>
            <dd>{{ form_row(form.observationsAh, {'label': false,'attr': {'class':class}}) }}</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <dl class="dl-horizontal m-t-md">
            <dt>Nom</dt>
            <dd>
                {% if crep.ahSignataire %}
                    {{ crep.ahSignataire | identite }}
                {% endif %}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <dl class="dl-horizontal m-t-md">
            <dt>Qualité</dt>
            <dd>
                {% if crep.qualiteAh %}
                    {{ crep.qualiteAh }}
                {% endif %}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Date</dt>
            <dd>{% if crep.dateVisaAh %}{{ crep.dateVisaAh|date('d/m/Y H:i') }}{% endif %}</dd>
        </dl>
    </div>
</div>
