<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width:50%">Rappel de l'objectif assigné</th>
                <th style="width:50%">Résultats professionnels obtenus</th>
            </tr>
            </thead>
            <tbody>
            {% if crep.objectifsEvalues is empty %}
                {% for i in 0..2 %}
                    <tr>
                        <td><br></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for objectif in crep.objectifsEvalues %}
                    <tr>
                        <td>{{ objectif.libelle | nl2br }}</td>
                        <td>{{ objectif.resultat | nl2br }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<br>