<strong>Carrière</strong>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="well well-xs">{{ crep.typeEvolutionCarriere | nl2br }}</p>
    </div>
</div>

<strong>Perspectives d’accès au grade supérieur pour les fonctionnaires ayant atteint depuis au moins 3 ans le dernier
    échelon du grade d’entrée dans la fonction publique </strong>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="well well-xs">{{ crep.perspectivesEvolutionFonction | nl2br }}</p>
    </div>
</div>

<strong>Mobilité</strong>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="well well-xs">{{ crep.typeMobilite | nl2br }}</p>
    </div>
</div>

