<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="title">Du SHD </p>
        <p class="well well-xs">{{ crep.autresPointsAbordesShd|nl2br }}</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="title">De l’agent</p>
        <p class="well well-xs">{{ crep.autresPointsAbordesAgent|nl2br }}</p>
    </div>
</div>

<br/>
