{% form_theme form 'crep/crepMinefAbc/Form/App_form_crepMinefAbc.html.twig' %}

<div class="row" id="objectifsEvaluesCollection" data-prototype="{{ form_widget(form.objectifsEvalues.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rappel de l'objectif assigné</th>
                    <th>Résultats professionnels obtenus</th>
                    <th width="25px"></th>
                </tr>
            </thead>
            
            <tbody>
                {% for objectif in form.objectifsEvalues %}
                    <tr>
						{{ form_widget(objectif) }}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link objectifsEvalues pull-right">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>
