<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <p class="title">Capacité à organiser et animer une équipe : </p>
            {{ form_row(form.capaciteOrganiserAnimer,{'label':false,'attr': {'maxlength': '4096'}}) }}
        </dl>
        
        <dl class="dl-horizontal m-t-md">
            <p class="title">Capacité à définir et évaluer des objectifs : </p>
            {{ form_row(form.capaciteDefinirObjectifs,{'label':false,'attr': {'maxlength': '4096'}}) }}
        </dl>
    </div>
</div>