parameters:
    database_driver:   oci8
    database_host:     172.18.0.2  # valeur de hostname -I du container oracle
    database_port:     1521
    database_service_name: xe
    database_service:  true
    database_user:     crep
    database_password: crep
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            e374980448bda2e0cda9dd8fac8fc911f84d1c5b
    container.autowiring.strict_mode: true
    mailer.from_address: noreply-crep@finances.gouv.fr
    mailer.from_name: Administrateur CREP

    app.connexion.nb_connexions_avant_blocage: 2

    app.company_name: CISIRH
    app.app_name: "ESTEVE"
    mailer.reply_address: "%mailer.from_address%"
    app.errors.from_email: noreply-eteve@cisirh.finances.gouv.fr

    app.errors.to_email: ['karim.ben-daali@finances.gouv.fr', 'naim.cheref@finances.gouv.fr', 'noureddine.madi@finances.gouv.fr', 'mouhoub.medjahed@prestataire.finances.gouv.fr']

    app.environnement: for1
    app.version: 2.0.0
    app.session_timeout: 3600 # en secondes
    app.duree_affichage_modal_timeout : 1800  # en secondes

    app.delai_visa_mindef : 0
    app.delai_visa_meem : 10

    fichier.certificat: '/var/www/CREP3/install/certificat/certificat.crt'
    app.maxFileSize: 12 # Taille maximale des fichiers uploades en Mo
    app.default_password: Crep.2016
    app.bcrypt_cost: 4
    app.rep_scripts: ~
    app.encoders.algorithm: bcrypt
    app.cookie_secure: false
    app.cookie_httponly: true
    framework.session.handler_id: session.handler.native_file   # session.handler.native_file ou snc_redis.session.handler