<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <em>La notification indique que l’agent a pris connaissance du compte-rendu d’entretien professionnel, elle n’implique
            pas une approbation du contenu du compte-rendu.</em>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <br>
        <label>Date de notification :</label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        Le présent compte-rendu peut faire l’objet d’un recours hiérarchique, en CAP (ou CCP pour les agents contractuels) ou d’un recours contentieux selon les modalités précisées au point 9 du présent compte-rendu.
        Si l’agent refuse de signer le présent compte rendu, le supérieur hiérarchique direct le mentionne en indiquant la date à laquelle l’agent a été mis en mesure de signer le CREP et, le cas échéant, les raisons avancées par l’agent pour refuser de signer. La notification sera réputée effectuée à la date du refus.
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3>En cas de refus de signer par l’agent :</h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        J’atteste que le compte-rendu d’entretien professionnel a été présenté à l’agent le
        L’agent a refusé de signer le compte-rendu. Préciser, le cas échéant, les raisons invoquées par l’agent :
        <br>
        <br>
        Date et signature du supérieur hiérarchique direct
        <br><br>
    </div>
</div>