{% extends 'Rlc/new.html.twig' %}


{% block frameTitle %}RLC{% endblock frameTitle %}

{% block formTitle %}Modification d'un responsable local de campagne (RLC){% endblock formTitle %}

{% block bouton_submit %}
	<a href=""><button type="submit" class="btn btn-primary pull-right"><i class="fa fa-floppy-o"></i> Enregistrer</button></a>
{% endblock bouton_submit %}