<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations sur les autres connaissances spécifiques éventuellement requises sur le poste</dt>
            <dd class="well well-xs">
                {{ crep.observationsAutresCompetencesTransversesRequises | nl2br }}
            </dd>
        </dl>
    </div>
</div>

