<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 30%" class="text-center">Compétences professionnelles managériales</th>
                <th style="width: 10%" class="text-center">Exceptionnelle<sup>1</sup></th>
                <th style="width: 10%" class="text-center">Forte</th>
                <th style="width: 10%" class="text-center">Assez forte</th>
                <th style="width: 10%" class="text-center">A développer</th>
                <th style="width: 10%" class="text-center">Non pertinent</th>
            </tr>
            </thead>
            <tbody>
            {% if crep.competencesManageriales is not empty %}
                {% for competence in crep.competencesManageriales %}
                    <tr>
                        <td>
                            {{ competence.libelle }}
                        </td>
                        {% for index in 0..4 %}
                            <td class="text-center">{{ competence.niveauAcquis|iconCheck(loop.index0)|raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% else %}
                {% for i in 0..1 %}
                    <tr>
                        <td><br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>




