<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations sur les competences detenues non requises sur le poste actuellement occupe (à remplir par
                l’agent)
            </dt>
            <dd class="well well-xs">
                {{ crep.observationsCompetencesTransversesDetenues | nl2br }}
            </dd>
        </dl>
    </div>
</div>
