<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <strong>Carrière</strong> <i>(projet professionnel…) </i>
        <br><br>
        {% if crep.typeEvolutionCarriere %}
            <p class="well well-xs">{{ crep.typeEvolutionCarriere|nl2br }}</p>
        {% endif %}
    </div>
</div>

<br>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <strong>Mobilité</strong> <i>(souhait de mobilité, fonctionnelle
            et/ou géographique)</i>
        <br><br>
        {% if crep.typeMobilite %}
            <p class="well well-xs">{{ crep.typeMobilite|nl2br }}</p>
        {% endif %}
    </div>
</div>

<br>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <strong>L’agent souhaite-il bénéficier d’un entretien avec un conseiller carrière ?</strong>
        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                   {% if crep.souhaitEntretienCarriere %}checked="checked"{% endif %}>
        </label>
        Oui
        &nbsp;&nbsp;
        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                   {% if crep.souhaitEntretienCarriere is not null and not crep.souhaitEntretienCarriere %}checked="checked"{% endif %}>
        </label>
        Non
    </div>
</div>

<br>