<br>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <strong>Aptitude à exercer des fonctions de niveau supérieur</strong>
        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                   {% if crep.apptitudeNiveauSup %}checked="checked"{% endif %}>
        </label>
        Oui
        &nbsp;&nbsp;
        <label>
            <input type="checkbox" class="flat" disabled="disabled"
                   {% if crep.apptitudeNiveauSup is not null and not crep.apptitudeNiveauSup %}checked="checked"{% endif %}>
        </label>
        Non
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations éventuelles du supérieur hiérarchique direct sur ces perspectives d’évolution
                professionnelle
            </dt>
            <dd class="well well-xs">
                {{ crep.observationShdEvolution | nl2br }}
            </dd>
        </dl>
    </div>
</div>

<br>