{% form_theme form 'crep/crepDgac/Form/collections.form.html.twig' %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 30%"></th>
					<th style="width: 15%" class="text-center">A DEVELOPPER</th>
					<th style="width: 15%" class="text-center">MAITRISEE</th>
					<th style="width: 40%" class="text-center">OBSERVATIONS</th>
				</tr>
			</thead>
			<tbody>
				{% for competenceManageriale in form.competencesManageriales %}
				<tr>
					<td>{{ crep.competencesManageriales[loop.index0].libelle }}</td> {{
					form_widget(competenceManageriale) }}
				</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
</div>
