{% form_theme form 'crep/crepDgac/Form/collections.form.html.twig' %}

<div class="row" id="autresCompetencesProfessionnellesCollection"
	data-prototype="{{ form_widget(form.autresCompetencesSyntheses.vars.prototype)|e('html_attr') }}">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 30%">Autres qualités à mettre en évidence: citer</th>
					<th style="width: 7.5%" class="text-center">FAIBLE</th>
					<th style="width: 7.5%" class="text-center">MOYEN</th>
					<th style="width: 7.5%" class="text-center">FORT</th>
					<th style="width: 7.5%" class="text-center">EXCELLENT</th>
					<th style="width: 35%" class="text-center">OBSERVATIONS</th>
					<th style="width: 5%" class="text-center"></th>

				</tr>
			</thead>
			<tbody>{% for autreCompetenceSynthese in form.autresCompetencesSyntheses %}
				{{ form_row(autreCompetenceSynthese) }} {% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<button
			class="btn btn-primary add_collection_link autresCompetencesSyntheses pull-right">
			<i class="fa fa-plus"></i> Ajouter
		</button>
	</div>
</div>
