{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

    <label>Renvoi à un document annexe
        (lettre de mission ou d’objectifs) : </label>
    {{ form_row(form.docAnnexeBilan, {'label': false, 'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'}}) }}

<br/>