{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_6.html.twig' %}

    <label>Contexte de l’année écoulée
        (organisation et fonctionnement du service)</label>
    {{ form_widget(form.contexteObjectifsPasses) }}
<br>

