{% form_theme form 'crep/crepEdd/Form/collections.form.html.twig' %}

<div class="row" id="CrepEddObjectifsEvaluesCollectifsCollection" data-prototype="{{ form_widget(form.objectifsEvaluesCollectifs.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 40%">Objectifs d’ordre collectif</th>
                <th style="width: 16%" class="text-center">Réalisation</th>
                <th style="width: 38%">Commentaires</th>
                <th style="width: 6%"></th>
            </tr>
            </thead>
            <tbody>
            {% for objectif in form.objectifsEvaluesCollectifs %}
                {{ form_widget(objectif) }}
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link CrepEddOjectifsEvaluesCollectifs pull-right">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>

<br/>

<div class="row" id="objectifsEvaluesIndividuelsCollection" data-prototype="{{ form_widget(form.objectifsEvaluesIndividuels.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 40%">Objectifs d’ordre individuel</th>
                <th style="width: 16%" class="text-center">Réalisation</th>
                <th style="width: 38%">Commentaires</th>
                <th style="width: 6%"></th>
            </tr>
            </thead>
            <tbody>
            {% for objectif in form.objectifsEvaluesIndividuels %}
                {{ form_widget(objectif) }}
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link CrepEddObjectifsEvaluesIndividuels pull-right">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>