<div class="row project_detail">
    <div class="col-md-6 col-sm-6 col-xs-12">
		<p class="title">Nature des dossiers ou travaux</p>
		<p class="well well-xs">{{ crep.autresActivites|nl2br }}</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
		<p class="title">Analyse des résultats</p>
		<p class="well well-xs">{{ crep.resultatAutresActivites|nl2br }}</p>
    </div>
</div>
