<div class="row form-group">
	<label><u>Par le supérieur hiérarchique</u></label>
</div>
<div class="row form-group">
	<label>Quels sont les réalisations et les résultats obtenus par l'agent ?</label>
	<p class="well well-xs">{{ crep.resultatsObtenusParAgent|nl2br }}</p>
</div>
<div class="row form-group">
	<label>Y a-t-il des dossiers marquants non définis initialement
		(dans les objectifs de l'année écoulée et/ou dans la fiche de
		poste) dans lesquels l'agent s'est investi ?
	</label>
	<p class="well well-xs">{{ crep.resultatAutresActivites|nl2br }}</p>
</div>
<div class="row form-group">
	<label>Difficultés particulières (éventuelles)</label>
	<p class="well well-xs">{{ crep.obsShdObjectifsEvalues|nl2br }}</p>
</div>
