.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #768399;
  cursor: default;
  background-color: #eee;
  border-color: #ddd;
}



.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}


.pace .pace-progress {
  background: #1ABB9C;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.panel_toolbox > li {
  float: right;
  cursor: pointer; }

/* permet d'avoir la bande de couleur verte sur les class="x_panel" */
.panel_green{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #1ABB9C;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* permet d'avoir la bande de couleur rouge sur les class="x_panel" */
.panel_red{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #DD4B39;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* permet d'avoir la bande de couleur bleue sur les class="x_panel" */
.panel_info{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #3498db;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* permet d'avoir la bande de couleur orange sur les class="x_panel" */
.panel_warning{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #f0ad4e;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* permet d'avoir les bords en  couleur vert sur les input */
/*textarea:focus,*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
/*input[type="search"]:focus,*/
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #1ABB9C;
  -moz-box-shadow: 0 0 4px #1ABB9C;
  box-shadow: 0 0 4px #1ABB9C !important;
  outline: 0 none;
}

/*
 * Component: modal
 * ----------------
 */

.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}

.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.modal {
  background: rgba(0, 0, 0, 0.3);
}

.modal-warning .modal-body {
  background-color: #f39c12 !important;
}

.modal-info .modal-body {
  background-color: #00c5f7 !important;
}

.modal-primary .modal-body {
  background-color: #3c8dbc !important;
}

.modal-success .modal-body {
  background-color: #00a65a !important;
}

.modal-warning .modal-header,
.modal-warning .modal-footer {
  background-color: #db8b0b !important;
}
.modal-content {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;
  border: 0;
}

.modal-primary .modal-header,
.modal-primary .modal-footer {
  background-color: #357ca5 !important;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;
  }
}
.modal-header {
  border-bottom-color: #f4f4f4;
}
.modal-footer {
  border-top-color: #f4f4f4;
}
.modal-primary .modal-header,
.modal-primary .modal-footer {
  border-color: #307095;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  border-color: #c87f0a;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  border-color: #0097bc;
  background-color: #00c0ef !important;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  border-color: #00a65a;
  background-color: #00733e  !important;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  border-color: #c23321;
  background-color: #c23321  !important;
}

body {
  color: #5e666e;
  background: #2A3F54;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}


/* Pour alterner les background des lignes de tableau */
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:  	#F5FFFA;
 }

 .page-title .title_left{
 width: 70%;
 }

 .fa-user-cravate:before{

  content: url("../images/user_cravate.png")

 }


/*
 * Component: Small Box
 * --------------------
 */
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  font-size: 95px;
}
@media (max-width: 767px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}
/*
 * END-Component: Small Box
 * --------------------
 */

/*
*
*rend le le lien non cliquable
*/
.not-allowed{
	cursor: not-allowed;
}

i.disabled {
	cursor: not-allowed;
	text-decoration: none;
	color: #72afd2;
}

/*   */
.warning2{
background-color: #f8ac59;
color: #ffffff;
}


/**
===========================================================================================================
                    GENERATION DU CSS CREP
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.crep textarea {
    resize: vertical;
}

.crep .table > thead > tr > th,
.crep .table > tbody > tr > td {
    vertical-align: middle !important;
}

.crep table thead {
    background: #efefef;
}

.crep .line-dashed-table {
    border-right: 2px solid #aaa;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.select2-container--default .select2-selection--multiple{
    background-color:white;
	border:1px solid #ccc;
	border-radius:1px;
	cursor:text;

}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  box-shadow:  0 0 4px #1ABB9C !important
   }

/*h3 {
  font-size: 18px;
}*/


/* Spécifique à cette balise */
HTML{
    font-size: 100%;
}

body{
    /* La taille de base sera de 12px avec les valeurs par défaut de police du navigateur */
    font: 0.750em/1em ;
}

h1{
    /* Par défaut, ce texte s'affichera à 14px */
    font: 1.8em/1em Verdana, Helvetica Neue,Helvetica,Arial,sans-serif;
}

h2{
    /* Par défaut, ce texte s'affichera à 12px */
    font: 1.3em/1em Helvetica,Arial,sans-serif;
}

h3{
    /* Par défaut, ce texte s'affichera à 10px */
    font: bold 1.2em/1em Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* on surchage car nous avons un soucis sur le titre la lettre g est rogné beug du thème  */
.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: nowrap; }

.label-sent{

background-color: #48c9b0;
}


.radio label {
    padding-left: 0 !important;
 }
.input-group {
  margin-bottom: 0; }

.accordion .panel:hover {
  background: #FFFFFF; }
  

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.well-xs {
	padding: 6px;
	border-radius: 1px;
	margin-bottom: 0px;
	min-height: 34px;
}

.modal{
	z-index : 9999;
}

.container.body {
  z-index: 9998;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	margin-left: 0px;
	position: relative !important;
}

.checkbox label, .radio label {
	padding-left: 0px;
}

.page-title .title_right {
  width: 3%;
  float: right;
  display: block; }

/* Couleur pour la l�gende du canevas  */
  .blue-sky {
  color: #50C1CF !important;
  }
  
  .orange {
  color: #F39C12 !important;
  }
  
  .crepModifieShd {
  color: #B0C4DE !important;
  }
  
  .crepRefusVisa {
  color: #F08080 !important;
  }
  
 .crepRefusNotification {
  color: #d9534f !important;
  }
  
 .crepCasAbsence {
  color: #777777 !important;
  }

  .bg-crepModifieShd {
  background: #B0C4DE !important;
  border: 1px solid #B0C4DE !important;
  color: #fff; }
  
  .bg-crepRefusVisa {
  background: #F08080 !important;
  border: 1px solid #F08080 !important;
  color: #fff; }
  
  .bg-crepRefusNotification {
  background: #d9534f !important;
  border: 1px solid #d9534f !important;
  color: #fff; }
  
  .bg-crepCasAbsence {
  background: #777777 !important;
  border: 1px solid #777777 !important;
  color: #fff; }
  
  .perimetre_filter{
  	text-align:right;
  }
  
  .alert-primary {
  color: #E9EDEF;
  background-color: rgba(40, 96, 144, 0.88);
  border-color: rgba(40, 96, 144, 0.88); }
  
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.fill { 
    min-height: 100%;
    height: 100%;
}


/*********************** Pour rendre la modal responsive *****************************/
.vrow {
    display: table;
}

.vrow [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
/********************* Fin pour rendre la modal responsive *****************************/


/******************************** Boutons flotants ***************************************/

.flottant {
	z-index: 99998;
	position: fixed;
	bottom: 50px;
	right:0px;
	padding: 0px 15px 0px 20px;
}

.flottant-md {
	left: 230px;
}

.flottant-sm {
	left: 70px;
}

@media (max-width: 991px) {
  .flottant-md{
    left: 0px;
  }
}

/******************************** Fin boutons flotants ***************************************/

.bouton-160 {
    min-width: 160px !important;
}


/***************************** surcharge de la couleur du menu gauche *******************************/
/*
  .left_col {
  background: #605ca8; }
  
  .nav_title {
	background: #605ca8;
}

body {
  background: #605ca8;
}

.sidebar-footer {
  background: #605ca8; 
}

.nav.side-menu > li.active > a {
  background: linear-gradient(#605ca8, #605ca8), #605ca8;
}
 */
/***************************************************************************************************************************/

.bouttonAsHref {
     background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    color:#5A738E;
    cursor:pointer;
     
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	
	box-sizing: border-box;
}

.bouttonAsHref:focus, .bouttonAsHref:hover {
	color: #23527c;
}
     
.label-xs{
    padding:6px;
}
     
/* Permet d'avoir le message "Traitement en cours..." du datatable bien dans le cadre lors des appels ajax  */     
.dataTables_processing {
  height: 40px;
  font-size: 12px;
}


 /* Popover Header Entête des info-bulles*/
.popover-info > .popover-title {
	background-color: #3498DB; 
    color: #FFFFFF;
}

.popover-primary > .popover-title {
	background-color: #337ab7; 
    color: #FFFFFF;
}

.popover-success > .popover-title {
  	background-color: #26B99A;
    color: #FFFFFF;
}

.popover-warning > .popover-title {
	background-color: #f0ad4e; 
    color: #FFFFFF;
}

.popover-danger > .popover-title {
	background-color: #d9534f; 
    color: #FFFFFF;
}
/* Fin Popover Header */

.label-purple {
	background-color:#9B59B6
}

table.tile_info td {
  font-size: 13px;
  line-height: 20px; }

table.tile_info td i {
  line-height: 20px; }

table.tile_info td:first-child {
  width: 87%; }
  
.champMisEnEvidence {
  border-color: #1ABB9C;
  -moz-box-shadow: 0 0 4px #1ABB9C;
  box-shadow: 0 0 4px #1ABB9C !important;
  outline: 0 none;
}

/* Corrige le bug sur le champs Recherche qui sort du dataTable quand la fenêtre est petite */
.dataTables_filter {
  width: 100%;
}
  
  
.media .profile_thumb_small {
  border: 1px solid;
  width: 25px;
  height: 25px;
  margin: 5px 10px 5px 0;
  border-radius: 50%;
  padding: 2px 6px; }

.media .profile_thumb_small i {
  font-size: 15px; }

/*Datatable loading*/
.dataTables_processing{
    display: block;
    background-image: url("../../cisirh/images/ajax-loader-bar2.gif");
    background-position: center 25px;
    background-repeat: no-repeat;
    background-color: rgba(237, 237, 237, 0.9);
    position: absolute!important;
    top: 50%!important;
    right: 0!important;
    bottom: 0!important;
    left: 0%!important;
    margin: -15px 0 -15px!important;
    z-index:5!important;
    height: 55px!important;
    width: 100% !important;
}

.header_logo_login img {
	width: 150px; }
  
.header_logo_menu_md img {
  width: 130px; }

.header_logo_menu_sm img {
  width: 46px; }
 
.nav-sm .navbar.nav_title a span {
  display: none; }
   
.nav-md .navbar.nav_title a i {
  display: none; }

.nav-sm .navbar.nav_title a i {
  font-size: 27px;
  margin: 13px 0 0 0px; }

.site_title i {
  border: none;
  padding: 0px 0px; }
  
.site_title {
  height: 70px;
  padding: 7px 0 0 7px; }
  
/* *********  media gallery  **************************** */
.thumbnail_crep .image {
  height: 180px;
  overflow: hidden; }

.thumbnail_crep {
  height: 190px;
  overflow: hidden; }
  
.mask_crep {
  height: 100%;
  }
  
.recours_couleur {
	color: #d9534f !important;
}


.form-group-no-margin{
  margin-bottom: 0px;	
}
