{% form_theme form 'crep/crepDgac/Form/App_form_crepDgac_12.html.twig'
%}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label>Quelles sont les principales contributions attendues sur le
				poste ?</label>
		</div>	
		<div class="col-md-12 col-sm-12 col-xs-12">	{{ 	
			form_widget(form.descriptionPosteMission,{'attr': {'maxlength':
			'4096'}}) }}</div>
	</div>
</div>

<br />