<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Nom</dt>
            <dd>
                {% if crep.shdSignataire %} 
                    {{ crep.shdSignataire | identite }} 
                {% endif %}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Qualité</dt>
            <dd>
            	{{ crep.qualiteShd }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Date</dt>
            <dd>{% if crep.dateVisaShd %}{{ crep.dateVisaShd|date('d/m/Y H:i') }}{% endif %}</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <strong>Le compte-rendu d’entretien professionnel a fait l’objet d’une demande facultative de révision gracieuse<sup>1</sup> : </strong>
    	&nbsp;Oui
    	{% if crep.revisionGracieuse == 1 %}
            <input type="checkbox" class="flat" disabled="disabled" checked="checked">
		{% else %}
            <input type="checkbox" class="flat" disabled="disabled">
		{% endif %}
    	
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Non	 
    	{% if crep.revisionGracieuse is not null and crep.revisionGracieuse == 0 %}
            <input type="checkbox" class="flat" disabled="disabled" checked="checked">
		{% else %}
            <input type="checkbox" class="flat" disabled="disabled">
		{% endif %}
    </div>
</div>

{% if crep.revisionGracieuse == 1 %}
    <br/>
    <div class="row">
        <div class="col-md-11 col-md-offset-1 col-sm-12 col-xs-12">
            <strong>Communication de la réponse le : </strong> {% if crep.dateCommunicationReponse %}{{ crep.dateCommunicationReponse|date('d/m/Y') }}{% endif %}
        </div>
    </div>
{% endif %}

<br/>