<div class="row form-group">
    <h2 class="col-md-6 col-sm-6 col-xs-12">5.1 Capacité à remplir ou à occuper des fonctions d’un niveau supérieur :</h2>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dd class="well well-xs">
                {{ crep.capacitesDecisions | nl2br }}
            </dd>
        </dl>
    </div>
</div>
