<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.mobiliteGeographique %}
                        {% if  crep.mobiliteGeographique.choix == true and crep.mobiliteGeographique.choix is not
                            null %}
                            checked="checked"
                        {% endif %}
                   {% endif %}
                >&nbsp;&nbsp;Oui
            </label>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.mobiliteGeographique %}
                        {% if crep.mobiliteGeographique.choix == false and crep.mobiliteGeographique.choix is not
                            null %}
                           checked="checked"
                        {% endif %}
                    {% endif %}
                >&nbsp;&nbsp;Non
            </label>
        </div>
    </div>
</div>

<br>
