<div class="row form-group">
    <h2 class="col-md-6 col-sm-6 col-xs-12">5.2 Mobilité fonctionnelle ou géographique envisagée  par l’agent :</h2>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.mobiliteGeographique is not empty %}
                        {% if  crep.mobiliteGeographique.choix == true  %}
                            checked="checked"
                        {% endif %}
                   {% endif %}
                >&nbsp;&nbsp;Oui
            </label>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
            <label>
                <input type="checkbox" class="flat" disabled="disabled"
                    {% if crep.mobiliteGeographique is not empty %}
                        {% if crep.mobiliteGeographique.choix == false %}
                           checked="checked"
                        {% endif %}
                    {% endif %}
                >&nbsp;&nbsp;Non
            </label>
        </div>
    </div>
</div>
