{% form_theme form 'crep/crepScl02/Form/App_form_crepScl02_12.html.twig' %}

<div class="row">
    {{ form_row(form.typeEvolutionCarriere,{'label': 'Carrière :'}) }}
</div>

<div class="row">
    {{ form_row(form.perspectivesEvolutionFonction,{'label': 'Perspectives d’accès au grade supérieur pour les fonctionnaires ayant atteint depuis au moins 3 ans le dernier échelon du grade d’entrée dans la fonction publique :'}) }}
</div>

<div class="row">
    {{ form_row(form.typeMobilite,{'label': 'Mobilité :'}) }}
</div>
