{% form_theme form 'crep/crepScl02/Form/App_form_crepScl02_12.html.twig' %}

<div class="row">
    {{ form_row(form.autresPointsAbordesShd,{'label': 'Du supérieur hiérarchique direct :'}) }}
</div>

<div class="row">
    {{ form_row(form.autresPointsAbordesAgent,{'label': 'De l’agent :'}) }}
</div>