{% form_theme form 'crep/crepMj02/Form/App_form_crepMj02_12.html.twig' %}

<div class="row">
    {{ form_row(form.mobiliteGeographique.choix, {'label': "5.2 Mobilité fonctionnelle ou géographique envisagée  par l’agent :", 'label_attr': {'class' : 'radio-inline',
        'style':'text-align:left;'} }) }}
</div>
