{% form_theme form 'crep/crepMj02/Form/App_form_crepMj02_12.html.twig' %}

<div class="row">
    {{ form_row(form.souhaitEntretienCarriere, {'label': "5.3 Souhait de l’agent de rencontrer un Conseiller mobilité et carrière ?", 'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'} }) }}
</div>
