{% form_theme form 'crep/crepMindef/Form/App_form_crepMindef.html.twig' %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Observations</dt>
            <dd>{{ form_widget(form.observationsAh) }}</dd>
        </dl>
    </div>
</div>
