{% form_theme form 'crep/crepEdd/Form/collections.form.html.twig' %}

{% set competenceSituationExceptionnelle = 'false' %}
{% for competence in form.competencesSituations %}
    {% for rowCompetance in competence %}
        {% if rowCompetance.vars.value == '0' %}
            {% set competenceSituationExceptionnelle = 'true' %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Compétences liées à l’intelligence des situations</th>
                <th class="text-center" width="100px">Exceptionnelle*</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>
            <tbody>

            {% for errorIndex, error in errors %}
                {% if 'true' == competenceSituationExceptionnelle %}
                    {% if (error.messageParameters['cause'] is defined and error.messageParameters['cause'] == "nbrCompetenceNiveauExceptionnelle" ) %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <strong><i class="fa fa-warning"></i> {{ error.message }}</strong><br>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for competence in form.competencesSituations %}
                <tr>
                    <td>
                        {{ crep.competencesSituations[loop.index0].libelle }}
                    </td>
                    {{ form_widget(competence) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
