{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

<label>Observations sur les compétences requises dans les fonctions :</label>
<div class="row">
    <div>
        {{ form_row(form.observationsCompetencesRequises, { 'label': false}) }}
    </div>
</div>

<br>