{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

<label>Observations sur les autres compétences démontrées par l’agent :</label>

<div class="row">
    <div>
        {{ form_row(form.observationsCompetencesDemontrees, { 'label': false}) }}
    </div>
</div>
