<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>Observations éventuelles de l’agent-e</label>
        <div class="well well-xs">
            <span>{{ crep.observationsVisaAgent | nl2br  }}</span>
        </div>
    </div>
</div>
<br>
