<br>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <label>Date : </label>
        <span>
            {% if crep.dateRefusNotification %}
                <span style="color: red">Refus de signature du CREP notifié acté le {{ crep.dateRefusNotification | date('d/m/Y à H:i') }} </span>
            {% elseif crep.dateNotification %}
                {{ crep.dateNotification | date('d/m/Y H:i') }}
            {% endif %}
        </span>
    </div>
</div>
<br>
<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        La signature de l’agent-e vaut notification du présent document (et non approbation de son contenu).
        <br>
        <u class="spelling">Destinataire</u> : dossier individuel de l’agent-e.
        <br>
        <u class="spelling">Copies</u> : agent-e, supérieur hiérarchique direct et chef de service.
    </div>
    <br>
</div>
<br>
<br/>
<div class="x_content row">
    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
        <span class="text-center"><b>Délais et voies de recours</b></span>
        <br/>
        <span>Le compte-rendu d'entretien professionnel peut faire l'objet des recours suivants :<br/></span>
        <span>- Recours hiérarchique auprès de l'autorité hiérarchique dans <b>un délai de 15 jours francs
                                </b> à compter de la notification du compte-rendu d'entretien professionnel ;
                            </span>
        <br/>
        <span>- Recours auprès de la commission administrative paritaire compétente, <u>sous réserve d'avoir formulé au préalable un recours administratif</u>,
                                <b>dans un délai d'un mois</b> à compter de la notification de la réponse de l'autorité hiérarchique au recours hiérarchique ;<br/>
                            </span>
        <span>- Recours contentieux devant le tribunal administratif territorialement compétent dans <b>un délai de deux mois
                                </b> à compter de la notification du compte-rendu. En cas de recours administratif préalable, le délai court à compter de la date de réponse, expresse ou implicite de l'administration.
                            </span>
    </p>

    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
        <span class="text-center"><b>Mention droits d'accès aux fichiers et libertés</b></span>
        <br/>
        <span>« Les informations ci-dessus font l’objet d’une saisie informatique et d’un traitement automatisé de données à
                                caractère personnel. Conformément à la loi n° 78-17 du 6 janvier 1978 modifiée relative à l’informatique,
                                aux fichiers et aux libertés, ce traitement a été déclaré à la commission nationale de l’informatique et des
                                libertés. Les droits d’accès et de rectification prévus aux articles 39 et 40 de la loi précitée s’exercent
                                auprès du directeur du centre ministériel de gestion ou du sous-directeur de la gestion des personnels relevant
                                de l’administration centrale. »
                            </span>
    </p>
</div>
