<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Compétence</th>
                <th style="width: 8%" class="text-center">Excellent</th>
                <th style="width: 8%" class="text-center">Très bon</th>
                <th style="width: 8%" class="text-center">Satisfaisant</th>
                <th style="width: 8%" class="text-center">À développer</th>
            </tr>
            </thead>
            <tbody>
            {% for competence in crep.competencesManiereServir %}
                <tr>
                    <td>{{ competence.libelle|nl2br}}</td>
                    
            		{% for index in 3..0 %}
                        	<td class="text-center">{{ competence.niveau|iconCheckReverse(loop.index0, 3)|raw }}</td>
                    {% endfor %}
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>
