<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_row(form.descriptionFonctions, {'label':false, 'attr': {'maxlength': '4096'}}) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.datePriseFonctions, { 'label': "Date de prise de fonctions"}) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.groupeFonctions, { 'label': "Groupe de fonctions (RIFSEEP)"}) }}
    </div>
</div>

<br/>