{% form_theme form 'crep/crepMcc02/Form/collections.form.html.twig' %}

<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center" colspan="7">Observations éventuelles de l’agent-e<</th>
            </tr>
            </thead>
            <tbody>
            <tbody>
            <tr>
                <td>
                    {{ form_row(form.observationsVisaAgent, {'label': false}) }}
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<br>
