{% form_theme form 'crep/crepMcc02/Form/App_form_crepMcc02_12.html.twig' %}
<div class="row">
    {{ form_row(form.observationsVisaAgent, { 'label': "Observations éventuelles de l’agent-e",'attr': {'maxlength': '4096', 'class':'champMisEnEvidence'}}) }}
</div>
