<br/>


<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <dl class="dl-horizontal m-t-md">
            <dt>Nom</dt>
            <dd>
                {% if crep.ahSignataire %}
                    {{ crep.ahSignataire | identite }}
                {% endif %}
            </dd>
        </dl>
    </div>

</div>


<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <label>Fonction exercée : </label>
        <span>
            {% if crep.ahSignataire and crep.agent and crep.agent.ah %}
                {{ crep.ahSignataire.posteOccupe | capitalize }}
            {% endif %}
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <label>Date : </label>
        <span>
            {% if crep.dateVisaAh and crep.agent and crep.agent.ah %}
                {{ crep.dateVisaAh | date('d/m/Y H:i') }}
            {% endif %}
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <label>Visa : </label>
    </div>
</div>

<br>
