<br>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <label>Date : </label>
        <span>
            {% if crep.dateRefusNotification %}
                <span style="color: red">Refus de signature du CREP notifié acté le {{ crep.dateRefusNotification | date('d/m/Y à H:i') }} </span>
            {% elseif crep.dateNotification %}
                {{ crep.dateNotification | date('d/m/Y H:i') }}
            {% endif %}
        </span>
    </div>
</div>
<br>
<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        La signature de l’agent-e vaut notification du présent document (et non approbation de son contenu).
        <br>
        <u class="spelling">Destinataire</u> : dossier individuel de l’agent-e.
        <br>
        <u class="spelling">Copies</u> : agent-e, supérieur hiérarchique direct et chef de service.
    </div>
    <br>
</div>
<br/>
