<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 10%" class="text-center">Année</th>
                <th style="width: 50%" class="text-center">Formation suivie</th>
                <th style="width: 30%" class="text-center">Commentaires (appréciation, bilan, suites)</th>
            </tr>
            </thead>
            <tbody>
            {% if crep.formationsSuivies is not empty %}
                {% for formation in crep.formationsSuivies %}
                    <tr>
                        <td class="text-center">{{ formation.annee }}</td>
                        <td>{{ formation.libelle|nl2br }}</td>
                        <td>{{ formation.commentaires|nl2br }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for i in 0..2 %}
                    <tr>
                        <td><br></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>