<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Suites données à l’entretien (proposition de promotion,….)</dt>
            <dd class="well well-xs">
                {{ crep.propositionPromotion|nl2br }}
            </dd>
        </dl>
    </div>
</div>






