<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Capacité à organiser et animer une équipe</p>
		<p class="well well-xs">{{ crep.capaciteOrganiserAnimer|nl2br }}</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Capacité à définir et évaluer des objectifs</p>
		<p class="well well-xs">{{ crep.capaciteDefinirObjectifs|nl2br }}</p>
    </div>
</div>
