{% form_theme form 'crep/crepMso5/Form/App_form_crepMso5_12.html.twig' %}

<div class="row">
    {{ form_row(form.commentaireFonctionAgent, { 'label': "Moyens à disposition de l’agent (si la précision est utile)" }) }}
</div>

<div class="row">
    {{ form_row(form.agentsEncadres, { 'label': "Nombre et catégorie des agents encadrés (le cas échéant)" }) }}
</div>



