{% form_theme form 'crep/crepMso5/Form/App_form_crepMso5_12.html.twig' %}

<div class="row">
    {{ form_row(form.perspectivesEvolutionFonction, { 'label': "Perspectives d’évolution du poste" }) }}
</div>

<div class="row">
    {{ form_row(form.observationsAgentSurSonActivite, { 'label': "Observations éventuelles de l’agent sur le poste et les fonctions ; qualité de vie au travail, notamment en termes de charge de travail, d’organisation du travail et d’horaires" }) }}
</div>

<div class="row">
    {{ form_row(form.observationsShd, { 'label': "Observations éventuelles de l’évaluateur" }) }}
</div>



