{% extends 'campagneBrhp/new.html.twig' %}

{% block frameTitle %}Campagne BRHP{% endblock frameTitle %}
{% block formTitle %}Modification de la campagne{% endblock formTitle %}


{% block bouton_submit %}
	<button type="submit" class="btn btn-primary pull-right"> <i class="fa fa-floppy-o"></i> Enregistrer</button>
{% endblock bouton_submit %}