{% form_theme form 'crep/crepAc/Form/App_form_crepAc.html.twig' %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 30%">Connaissances professionnelles</th>
                    <th style="width: 10%" class="text-center">Exceptionnelle*</th>
                    <th style="width: 10%" class="text-center">Forte</th>
                    <th style="width: 10%" class="text-center">Assez forte</th>
                    <th style="width: 10%" class="text-center">A développer</th>
                    <th style="width: 10%" class="text-center">Non pertinent</th>
                    <th style="width: 20%">Observations</th>
                </tr>
            </thead>
            <tbody>
                {% for competenceProfessionnelle in form.competencesTransversesProfessionnelles %}
                	<tr>
                    	<td>
                            {{ crep.competencesTransversesProfessionnelles[loop.index0].libelle }}
                        </td>
                        
                        {{ form_widget(competenceProfessionnelle) }}
                    </tr>
    	        {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>

<br/>

<div class="row" id="autresCompetencesTransversesProfessionnellesCollection" data-prototype="{{ form_widget(form.autresCompetencesTransversesProfessionnelles.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 30%">Autres compétences éventuellement  démontrées par l’agent</th>
                    <th style="width: 10%" class="text-center">Exceptionnelle*</th>
                    <th style="width: 10%" class="text-center">Forte</th>
                    <th style="width: 10%" class="text-center">Assez forte</th>
                    <th style="width: 10%" class="text-center">A développer</th>
                    <th style="width: 10%" class="text-center">Non pertinent</th>
                    <th>Observations</th>
                    <th width="85px" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for autreCompetenceProfessionnelle in form.autresCompetencesTransversesProfessionnelles %}
                    {{ form_widget(autreCompetenceProfessionnelle) }}
                {%  endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link autresCompetencesTransversesProfessionnelles pull-right">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>