{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_12.html.twig' %}


<h3>Synthèse générale relative aux objectifs</h3>

<div class="row">
	{{ form_row(form.observationsShdObjectifsEvalues, { 'label': "Observations du supérieur hiérarchique direct"}) }}
</div>

<br>



