<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        La partie relative à la formation est impérativement abordée lors de l’entretien professionnel et le formulaire de la page 8 du présent document doit être complété.
    </div>
</div>
<br>