<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <em>(Indiquer les formations de manière chronologique, les intitulé(s) et leur durée(s)</em><br><br>
        <strong>T1</strong> : adaptation immédiate au poste de travail (missions actuelles imparties à l’agent)<br>
        <strong>T2</strong> : adaptation à l’évolution prévisible des métiers (compétences acquises)<br>
        <strong>T3</strong> : développement des compétences ou acquisition de nouvelles compétences (projet
        professionnel)<br>
    </div>
</div>
<br>