<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
        <label>Renvoi à un document annexe (lettre de mission ou d’objectifs)</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
        {{ form_row(form.docAnnexeBilan, {'label': false, 'label_attr': {'class' : 'radio-inline', 'style':'text-align:rigth;'}}) }}
    </div>
</div>
