<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label class="control-label col-md-6 col-sm-6 col-xs-12" style="text-align:left;">Renvoi à un document annexe (lettre de mission ou d’objectifs)</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            {{ form_row(form.docAnnexeBilan, {'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'}}) }}
            {{ form_row(form.docAnnexeBilan, { 'label': "Si non, sur quels points doit-elle être actualisée ?" } ) }}
        </div>
    </div>
</div>

<br/>
