{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

<label>Carrière (projet professionnel…)</label>
<div class="row">
    {{ form_row(form.typeEvolutionCarriere,{'label': false, 'attr': {'maxlength': '4096'}}) }}
</div>

<label>Mobilité (souhait de mobilité, fonctionnelle et/ou géographique)</label>
<div class="row">
    {{ form_row(form.typeMobilite, {'label': false, 'attr': {'maxlength': '4096'}}) }}
</div>

<label>L’agent souhaite-il bénéficier d’un entretien avec un conseiller carrière ? </label>
<div class="row">
    {{ form_row(form.souhaitEntretienCarriere,{'label':false ,'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'}}) }}
</div>

