{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

<label>Aptitude à exercer des fonctions de niveau supérieur :</label>
<div class="row">
    {{ form_row(form.apptitudeNiveauSup, {'label':false ,'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'}}) }}
</div>
<br/>

<label>Observations éventuelles du supérieur hiérarchique direct sur ces perspectives d’évolution
    professionnelle</label>
<div class="row">
    {{ form_row(form.observationShdEvolution, {'label': false}) }}
</div>