{% form_theme form 'crep/crepDgac/Form/App_form_crepDgac_12.html.twig' %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label><u>Par le supérieur hiérarchique </u></label>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Quels sont les réalisations et les résultats obtenus par
			l'agent ?</label>
        {{ form_widget(form.resultatsObtenusParAgent,{'attr': {'maxlength':
            '4096'}}) }}
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Y a-t-il des dossiers marquants non définis initialement
			(dans les objectifs de l'année écoulée et/ou dans la fiche de
			poste) dans lesquels l'agent s'est investi ?</label>
        {{ form_widget(form.resultatAutresActivites,{'attr': {'maxlength':
            '4096'}}) }}
	</div>
</div>
<br>
<div class="row ">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Difficultés particulières (éventuelles)</label>
        {{ form_widget(form.obsShdObjectifsEvalues,{'attr': {'maxlength':
            '4096'}}) }}
	</div>
</div>
<br>