{% form_theme form 'crep/crepMcc/Form/App_form_crepMcc.html.twig' %}

{% if crep.statut == constant('AppBundle\\EnumTypes\\EnumStatutCrep::SIGNE_SHD') %}
	{% set class = 'champMisEnEvidence' %}
{% else %}
	{% set class = '' %}
{% endif %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_row(form.commentaireAgentCarriereMobilite, {'label':false, 'attr': {'maxlength': '4096', 'class':class}}) }}
    </div>
</div>
