<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Principales compétences mises en œuvre et maîtrisées dans l’exercice des fonctions</dt>
            <dd class="well well-xs">
                {{ crep.observationsCompetencesDemontrees|nl2br }}
            </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Autres compétences professionnelles détenues par l’agent</dt>
            <dd class="well well-xs">
                {{ crep.autresCompetencesPro|nl2br }}
            </dd>
        </dl>
    </div>
</div>




