<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Compétences liées à l’adaptation immédiate au poste de travail</dt>
            <dd class="well well-xs">
                {{ crep.competencesRequisesImmediatement|nl2br }}
            </dd>
        </dl>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Compétences liées à l’adaptation à l’évolution prévisible des métiers ou au développement des
                qualifications
            </dt>
            <dd class="well well-xs">
                {{ crep.competencesRequisesFutur|nl2br }}
            </dd>
        </dl>
    </div>
</div>




