<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rappel de l'objectif assigné</th>
                    <th>Résultats professionnels obtenus</th>
                </tr>
            </thead>
            <tbody>
                {% for objectif in crep.objectifsEvalues %}
                    <tr>
                        <td>{{ objectif.libelle|nl2br}}</td>
                        <td>{{ objectif.resultat|nl2br }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<br/>