{% form_theme form 'crep/crepMindef01/Form/App_form_crepMindef01.html.twig' %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Observations</dt>
            <dd>{{ form_widget(form.observationsAh, {'label': false,'attr': {'maxlength': '4096', 'class':'champMisEnEvidence'}}) }}</dd>
        </dl>
    </div>
</div>