<h3>Marge d'évolution globale</h3>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
	<table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" width="100px">En progrès</th>
                    <th class="text-center" width="100px">Constant</th>
                    <th class="text-center" width="100px">À améliorer</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
	                    {% for index in 0..2 %}
	                    	<td class="text-center">{{ crep.margeEvolutionGlobale|iconCheck(loop.revindex0)|raw }}</td>
	                    {% endfor %}
                    </tr>
            </tbody>
        </table>
	</div>
</div>

<h3>Niveau global de performance</h3>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
	<table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" width="100px">Excellent</th>
                    <th class="text-center" width="100px">Très bon</th>
                    <th class="text-center" width="100px">Bon</th>
                    <th class="text-center" width="100px">Convenable</th>
                    <th class="text-center" width="100px">Insuffisant</th>
                    <th class="text-center" width="100px">Très insuffisant</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
	                    {% for index in 0..5 %}
	                    	<td class="text-center">{{ crep.niveauPerformanceGlobale|iconCheck(loop.revindex0)|raw }}</td>
	                    {% endfor %}
                    </tr>
            </tbody>
        </table>
	</div>
</div>
