
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Domaine</th>
                    <th>Nombre d'années dans le domaine</th>
                </tr>
            </thead>
            <tbody>
                {% for emploi in crep.emplois %}
                	{% if emploi.poste %}
                    <tr>
                        <td>{{ emploi.poste }}</td>
                        <td>{{ emploi.nombreAnneesDomaine }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

