{% form_theme form 'crep/crepMcc02/Form/collections.form.html.twig' %}

<div class="row" id="formationsT3Collection" data-prototype="{{ form_widget(form.formationsT3.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Libellé de la formation</th>
                    <th style="width: 10%" class="text-center">Demande de l'agent <strong>(*)</strong></th>
                    <th style="width: 15%" class="text-center">Avis du responsable hiérarchique <strong>(*)</strong></th>
                    <th style="width: 15%" class="text-center">Proposition du responsable hiérarchique</th>
                    <th style="width: 10%" class="text-center">Recours au CPF<strong>(*)</strong></th>
                    <th style="width: 10%" class="text-center">Échéance <small>(Année N, N+1)</small></th>
                    <th width="5%" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for formation in form.formationsT3 %}
                    {{ form_widget(formation) }}
                {%  endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link formationsT3 pull-right">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>