<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_widget(form.refusEntretienProfessionnel, {'label': 'L\'agent a refusé de participer à l\'entretien professionnel', 'label_attr':{'class': 'checkbox-inline', 'style':'font-weight: bold;'} }) }}
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-6 col-md-offset-1 col-sm-6 col-xs-12">
        {{ form_row(form.dateEntretien, { 'label': "Date de l'entretien" }) }}
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-1 col-sm-6 col-xs-12">
        {{ form_row(form.dureeEntretien, { 'label': "Durée de l'entretien" }) }}
    </div>
</div>

<br/><br/>

