{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_12.html.twig' %}

<div class="row">
	{{ form_row(form.observationsAgentDeroulementEntretien, { 'label': "Observations de l'agent sur le déroulement de l’entretien et les thèmes abordés", 'attr': {'class':'champMisEnEvidence'} }) }}
</div>

<div class="row">
	{{ form_row(form.observationsAgentAppreciationsPortees, { 'label': "Observations de l'agent sur les appréciations portées", 'attr': {'class':'champMisEnEvidence'} }) }}
</div>