<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label>Politique, environnement, organisation, moyen, coopération
				interne ou externe, etc.</label>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="well well-xs">{{ crep.contexteAnneeEcoulee|nl2br }}</p>
		</div>
	</div>
</div>