<div class="row form-group">
	<label>Politique, environnement, organisation, moyen, coopération
		interne ou externe, etc.</label>
		<p class="well well-xs">{{ crep.contexteAnneeEcoulee|nl2br }}</p>
</div>
