<div class="row form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Quelles sont les principales contributions attendues sur le
			poste ?</label>
		<p class="well well-xs">{{ crep.descriptionPosteMission|nl2br }}</p>
	</div>
</div>
