<div class="row form-group">
	<label>La fiche de poste  reflète-t-elle cette réalité ? Le contenu du poste a-t-il subi des modifications depuis le dernier entretien ? Contraintes liées au poste, à l’organisation, etc.</label>
	<label><u>Par le supérieur hiérarchique </u></label><p class="well well-xs">
	 {{ crep.elementsObservesShd|nl2br }}</p>
</div>
