<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <tr>
                <th>Capital DIF au 1<sup>er</sup> janvier de l'année de l'entretien (en heures)</th>
                <td>{{ form_row(form.capitalDif) }}</td>
            </tr>
            <tr>
                <th>Capital DIF mobilisable</th>
                <td>{{ form_row(form.capitalDifMobilisable) }}</td>
            </tr>
        </table>
    </div>
</div>
