{# Informer l'utilisateur qu'une demande de réinitialisation de mot de passe a été faîte dans les dernières 24 heures  #}

{% extends "FOSUserBundle:Security:login.html.twig" %}

{% block titreFormulaire %}

	<h3 color="#9F6000"">
		<i class="fa fa-warning text-yellow"> </i>
		<font color="#F79F00"> 
			Information: 
		</font>
	</h3>

{% endblock titreFormulaire %}


{% block form %}

<p> Un nouveau mot de passe a déjà été demandé pour cet utilisateur dans les dernières 24 heures. </p>

<div class="row">
	
	<div class="col-xs-7"> </div>

	<div class="col-xs-5">
		<a href="{{ path('fos_user_security_login') }}" class="btn btn-default">
			<span class="glyphicon glyphicon-chevron-left"></span> 
			Retour 
		</a>
	</div>
</div>

{% endblock form %}


{% block pwd_oublie %}
{% endblock pwd_oublie %}