<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Capacité à remplir les fonctions d'un grade ou corps supérieur</dt>
            <dd class="well well-xs">
                {{ crep.capacitesDecisions|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Mobilité fonctionnelle ou géographique envisagée</dt>
            <dd class="well well-xs">
                {{ crep.mobiliteFonctionnelleOuGeographique|nl2br }}
            </dd>
        </dl>
    </div>
</div>