<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Libellé de la formation suivie</th>
            </tr>
            </thead>
            <tbody>
            {% for formationSuivie in crep.formationsSuivies %}
                <tr>
                    <td>{{ formationSuivie.libelle }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>