<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Libellé de la formation</th>
                <th style="width: 155px">Besoin toujours avéré</th>
            </tr>
            </thead>
            <tbody>
            {% for formationAVenir in crep.formationsAVenir %}
                <tr>
                    <td>{{ formationAVenir.libelle }}</td>
                    <td align="center">{{ formationAVenir.besoinToujoursAvere | ouiNon}}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>