<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Libellé de la formation</th>
                <th class="text-center" style="width: 155px">Priorité</th>
                <th class="text-center" style="width: 100px">Hors CPF</th>
            </tr>
            </thead>
            <tbody>
            {% for formationDemandeeAdministrationEmployeur in crep.formationsDemandeesEmployeur %}
                <tr>
                    <td>{{ formationDemandeeAdministrationEmployeur.libelle }}
{#                         ({{ formationDemandeeAdministrationEmployeur.formation.code }})#}
                    </td>
                    <td class="text-center">{{ formationDemandeeAdministrationEmployeur.priorite }}</td>
                    <td class="text-center">{{ formationDemandeeAdministrationEmployeur.horsDif|ouiNon }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>
