{% use "Form/App_bootstrap_3_layout.html.twig" %}


{# Pour que le champ de saisie prenne toute la ligne#}
{% block form_row -%}
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{- parent() -}}
    </div>
{%- endblock form_row %}


{# Pour aligner le label à gauche#}
{% block form_label -%}
    {%- set label_attr = label_attr|merge({style: (label_attr.class|default('') ~ ' text-align: left; padding-left: 0px')|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{# Pour avoir le label sur toute la ligne#}
{%- block form_label_class2 -%}control-label col-md-12 col-sm-12 col-xs-12{%- endblock form_label_class2 -%}

# Redéfinition du bloc from_errors aligner à gauche les erreurs de validation, en ajoutant style="text-align: left;"   #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="has-error">
            {%- for error in errors -%}
                <div class="col-md-12">
                    <label class="control-label has-error" style="text-align: left;" for="inputError"><i
                                class="fa fa-times-circle"></i> {{ error.message }}</label>
                </div>
            {%- endfor -%}
        </div>

    {%- endif %}
{%- endblock form_errors %}
