{% form_theme form 'crep/crepMso5/Form/collections.form.html.twig' %}

<div class="row" id="formationsT2Collection" data-prototype="{{ form_widget(form.formationsT2.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 55%" class="text-center">Formations liées à l’évolution des métiers (T2)</th>
                    <th style="width: 10%" class="text-center">Demande de l’agent (*)</th>
                    <th style="width: 15%" class="text-center">Avis favorable du respon-sable hiérarchique (*)</th>
                    <th style="width: 10%" class="text-center">Recours au CPF(*)</th>
                    <th style="width: 10%" class="text-center">Échéance (année N, N +1)</th>
                    <th width="5%" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for formation in form.formationsT2 %}
                    {{ form_widget(formation) }}
                {%  endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link formationsT2 pull-right">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>
