<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Niveau d'appréciation</th>
                <th class="text-center" width="100px">Excellent</th>
                <th class="text-center" width="100px">Très bon</th>
                <th class="text-center" width="100px">Bon</th>
                <th class="text-center" width="100px">Convenable</th>
                <th class="text-center" width="100px">Insuffisant</th>
                <th class="text-center" width="100px">Très insuffisant</th>
            </tr>
            </thead>
            <tbody>
            
            {% for key, competence in crep.competencesJudiciaires %}
                <tr>
                    <td>{{ competence.libelle }}</td>
                    {% for index in 0..5 %}
                        <td class="text-center">{{ competence.niveauAcquis|iconCheckReverse(loop.revindex0, 5)|raw
                            }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    
    </div>
</div>
<br>