<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>Observations éventuelles du supérieur hiérarchique direct :</label><br>
        <em>(obligatoires en cas de niveau insuffisant/très insuffisant ou de baisse du niveau d’appréciation)</em>
        <div class="row form-group project_detail">
            <p class="well well-xs"> {{ crep.observationsShd | nl2br }}</p>
        </div>
    </div>
</div>

