<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Appréciation de l’évaluateur</dt>
            <dd class="well well-xs">
                {{ crep.appreciationEvaluateur|nl2br }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Eléments particuliers à prendre en compte (environnement, événement imprévus, difficultés structurelles
                ou conjoncturelles,…)
            </dt>
            <dd class="well well-xs">
                {{ crep.elementsParticuliers|nl2br }}
            </dd>
        </dl>
    </div>
</div>


