<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Observations éventuelles de l’évaluateur</dt>
            <dd class="well well-xs">
                {{ crep.observationsObjectifsPasses |nl2br }}
            </dd>
        </dl>
    </div>
</div>
