<br>

<div class="row form-group project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p class="well well-xs"> {{ crep.contexteObjectifsAvenir | nl2br }}</p>
    </div>
</div>

<br>
