{% form_theme form 'crep/crepEdd/Form/collections.form.html.twig' %}


<div class="row" id="CrepEddTechniquesCollection"
     data-prototype="{{ form_widget(form.techniques.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 30%" class="text-center">Connaissances techniques</th>
                <th style="width: 15%" class="text-center">Exceptionnelle<sup>1</sup></th>
                <th style="width: 10%" class="text-center">Forte</th>
                <th style="width: 10%" class="text-center">Assez forte</th>
                <th style="width: 15%" class="text-center">A développer</th>
                <th style="width: 12%" class="text-center">Non pertinent</th>
                <th style="width: 6%" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            {% for technique in form.techniques %}
                {{ form_widget(technique) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link CrepEddTechniques pull-right">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>


