{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

    <label>Observations</label>
    {{ form_widget(form.observationsCompetencesTransversesRequises,{'attr': {'maxlength': '4096'}}) }}

<br/>
