{% form_theme form 'crep/crepEdd/Form/collections.form.html.twig' %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="width: 30%" class="text-center">Compétences professionnelles managériales</th>
                <th style="width: 10%" class="text-center">Exceptionnelle<sup>1</sup></th>
                <th style="width: 10%" class="text-center">Forte</th>
                <th style="width: 10%" class="text-center">Assez forte</th>
                <th style="width: 10%" class="text-center">A développer</th>
                <th style="width: 10%" class="text-center">Non pertinent</th>
            </tr>
            </thead>
            <tbody>
            {% for competenceManageriale in form.competencesManageriales %}
                <tr>
                    <td>
                        {{ crep.competencesManageriales[loop.index0].libelle }}
                    </td>

                    {{ form_widget(competenceManageriale) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


