{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

<label>Observations sur les autres compétences éventuellement démontrées par l’agent</label>

<div class="row">
    {% set classeCaExceptionnelle = 'col-md-12 col-sm-12 col-xs-12' %}
    {% for errorIndex, error in errors %}
        {% if (error.messageParameters['cause_observation_autres_competences_manageriales'] is defined and error.messageParameters['cause_observation_autres_competences_manageriales'] == "errorObservationsAutresCompetencesManageriales" ) %}
            {% set classeCaExceptionnelle = 'col-md-12 col-sm-12 col-xs-12 has-error' %}
            <div class="has-error">
                <div class="col-md-12">
                    <label class="control-label has-error" style="text-align: left;" for="inputError">
                        <i class="fa fa-times-circle"></i>{{ error.message }}</label>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="{{ classeCaExceptionnelle }} row">
        {{ form_row(form.observationsAutresCompetencesManageriales,{'label': false, 'attr': {'maxlength': '4096'}}) }}
    </div>
</div>
<br>