{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

<label>Observations sur les competences detenues non requises sur le poste actuellement occupe (à remplir par
    l’agent)</label>
<div class="row">
    {{ form_row(form.observationsCompetencesTransversesDetenues,{'label': false, 'attr': {'maxlength': '4096', 'class':'champMisEnEvidence'}}) }}
</div>
<br/>
