<span>
   Ils sont appréciés, notamment, par rapport à la fiche de poste et au répertoire des métiers et des compétences.
</span>
<br>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>Les compétences et connaissances acquises sur le poste :</label>
        <div class="row form-group project_detail">
            <p class="well well-xs"> {{ crep.acquisExperiencePro | nl2br }}</p>
        </div>
    </div>
</div>
<br>
