<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label>Description des fonctions</label>
            <dd class="well well-xs col-md-12 col-sm-12 col-xs-12">
                {{ crep.descriptionFonctions|nl2br }}
            </dd>
        </div>
    </div>
</div>