{% form_theme form 'crep/crepMj02/Form/App_form_crepMj02_12.html.twig' %}
<br>
<div class="row">
    {{ form_row(form.objectifsService, { 'label': 'Rappel des principaux objectifs du service pour l\'année à venir
    (en lien avec le projet de service) :','attr': {'maxlength': '4096'}}) }}
</div>
<br>