<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Autres points abordés à l’initiative du supérieur hiérarchique direct </p>
		<p class="well well-xs">{{ crep.autresPointsAbordesShd|nl2br }}</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Autres points abordés à l’initiative de l’agent</p>
		<p class="well well-xs">{{ crep.autresPointsAbordesAgent|nl2br }}</p>
    </div>
</div>

<br/>
