{% form_theme form with ['crep/crepScl/Form/App_form_crepScl_v_2.html.twig', _self] %}

<strong>Carrière</strong>

<div class="row">
	
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_row(form.typeEvolutionCarriere, {'label': false }) }}
    </div>
</div>

<br/>

<strong>Mobilité</strong>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        {{ form_row(form.typeMobilite, {'label': false }) }}
    </div>
</div>

<br/>