<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    	<br>
    	Tous vos droits CPF sont consultables sur votre compte personnel CPA depuis cette adresse :<br>
		<a target="_blank" rel="noopener noreferrer" href='https://www.moncompteactivite.gouv.fr/cpa-public/mes-droits-formation'>https://www.moncompteactivite.gouv.fr/cpa-public/mes-droits-formation</a>
    </div>
</div>