<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="13">Mobilité souhaitée par l'agent</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="3%"></td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="6%" class="bordered-right">&nbsp;Oui</td>
                    <td width="3%"></td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="15%">&nbsp;Dès que possible</td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="14%" class="bordered-right">&nbsp;Dans 2 ans</td>
                    <td width="3%"></td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="16%">&nbsp;Au sein du service</td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="25%" class="bordered-right">&nbsp;Dans le département (DDE, SN…)</td>
                </tr>
                <tr>
                    <td width="3%"></td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="6%" class="bordered-right">&nbsp;Non</td>
                    <td width="3%"></td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="15%">&nbsp;Dans 1 an</td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="14%" class="bordered-right">&nbsp;Dans 3 ans ou +</td>
                    <td width="3%"></td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="16%">&nbsp;Hors inter région</td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="25%" class="bordered-right">&nbsp;Dans inter région (CIFP…)</td>
                </tr>
                <tr>
                    <td width="3%"></td>
                    <td width="3%"></td>
                    <td width="6%" class="bordered-right"></td>
                    <td width="3%"></td>
                    <td width="3%"></td>
                    <td width="15"></td>
                    <td width="3%"></td>
                    <td width="26.6%" class="bordered-right"></td>
                    <td width="3%"></td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="16%">&nbsp;Région</td>
                    <td width="3%" style="font-size: 4px" class="fullbordered"><span
                                style="font-size: 8px" class="text-center"> X</span></td>
                    <td width="25%" class="bordered-right">&nbsp;International</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
