<br>
<div class="row form-group">
	<label>Perpectives :</label>
</div>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td width="3%">
						{% if crep.perspectives is not null and crep.perspectives.tempsPartiel %}
							<i class="fa fa-check"></i>{% endif %}
					</td>
					<td width="30%">Temps partiel</td>
					<td width="3%">{% if crep.perspectives is not null and crep.perspectives.disponibilite %}<i class="fa fa-check"></i>{% endif %}</td>
					<td width="30%">Disponibilité</td>
					<td width="3%">{% if crep.perspectives is not null and crep.perspectives.detachement %}<i class="fa fa-check"></i>{% endif %}</td>
					<td width="31%">Détachement</td>
				</tr>
				<tr>
					<td>{% if crep.perspectives is not null and crep.perspectives.congesFormation %}<i class="fa fa-check"></i>{% endif %}</td>
					<td>Congés de formation</td>
					<td>{% if crep.perspectives is not null and crep.perspectives.concours %}<i class="fa fa-check"></i>{% endif %}</td>
					<td>Concours</td>
					<td>{% if crep.perspectives is not null and crep.perspectives.cpa %}<i class="fa fa-check"></i>{% endif %}</td>
					<td>CPA</td>
				</tr>
				<tr>
					<td>{% if crep.perspectives is not null and crep.perspectives.retraite %}<i class="fa fa-check"></i>{% endif %}</td>
					<td>Retraite</td>
					<td>{% if crep.perspectives is not null and crep.perspectives.autres %}<i class="fa fa-check"></i>{% endif %}</td>
					<td>Autres</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	
	</div>
</div>
