<br>
<div class="row form-group">
    <h4>Connaissances techniques a acquérir</h4>
    <label>- à la demande de l'agent :</label>
    <p class="well well-xs">{{ crep.formationDemandeAgent|nl2br }}</p>
</div>
<div class="row form-group">
    <label>- à la demande de la hiérarchie :</label>
    <p class="well well-xs">{{ crep.formationDemandeShd|nl2br }}</p>
</div>
