<br>
<div class="row form-group">
    <h4>Compétences professionnelles a développer</h4>
    <label>- à la demande de l'agent :</label>
    <p class="well well-xs">{{ crep.competenceDemandeAgent|nl2br }}</p>
</div>
<div class="row form-group">
    <label>- à la demande de la hiérarchie :</label>
    <p class="well well-xs">{{ crep.competenceDemandeShd|nl2br }}</p>
</div>