<br>
<div class="row form-group">
    {#<h4>Préparation aux examens et concours pour l’année a venir</h4>#}
    <label>Préparation aux examens et concours pour l’année a venir</label>
    <p class="well well-xs">{{ crep.preparationConcours|nl2br }}</p>
</div>
<div class="row form-group">
    <label>Souhaits de formations pour le développement personnel</label>
    <p class="well well-xs">{{ crep.competenceDemandeShd|nl2br }}</p>
</div>