{% extends 'formation/new.html.twig' %}

{% block formTitle %}Modification d'une formation{% endblock formTitle %}


{% block bouton_submit %}
	<button type="submit" class="btn btn-primary pull-right"> <i class="fa fa-floppy-o"></i> Enregistrer</button>
{% endblock bouton_submit %}