<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Priorité</th>
                <th class="text-center">Intitulé de la formation</th>
                <th class="text-center">Type d’actions de formation</th>
                <th class="text-center">CPF</th>
            </tr>
            </thead>
            <tbody>
            {% if crep.formationsDemandeesAgent is not empty %}
                {% for formationDemandeeAgent in crep.formationsDemandeesAgent %}
                    <tr>
                        <td class="text-center">{{ formationDemandeeAgent.priorite }}</td>
                        <td>{{ formationDemandeeAgent.libelle | nl2br }}</td>
                        <td>{{ formationDemandeeAgent.typologie|selectTypologieFormationCrepEdd }}</td>
                        <td class="text-center">{{ formationDemandeeAgent.dif|ouiNon }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for i in 1..2 %}
                    <tr>
                        <td><br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>