{% form_theme form 'crep/crepMindef/Form/App_form_crepMindef_miseEnOeuvreObectifs.html.twig' %}

<div class="row">
	{{ form_row(form.fichePoseAJour, { 'label': "Votre fiche de poste a-t-elle fait l'objet d'une mise à jour lors du présent entretien ?", 'label_attr': {'class' : 'radio-inline', 'style':'text-align:left;'} }) }}
</div>
<br/>