{% form_theme form 'crep/crepMindef/_include/edit/ii/2.form.html.twig' %}

<div class="row form-group" id="objectifsEvaluesCollection" data-prototype="{{ form_widget(form.objectifsEvalues.vars.prototype)|e('html_attr') }}">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered" id="tableObjectifsPasses">
            <thead>
            <tr>
                <th>Objectif</th>
                <th>Analyse des résultats</th>
                <th width="205px">Évaluation</th>
                <th width="25px"></th>
            </tr>
            </thead>
            <tbody>
            {% for objectif in form.objectifsEvalues %}
                <tr>
                    <td>{{ form_row(objectif.libelle) }}</td>
                    <td>{{ form_row(objectif.resultat) }}</td>
                    <td>{{ form_row(objectif.resultatObtenu) }}</td>
                    <td><button class="btn btn-danger btn-xs remove-from-collection"><i class="fa fa-close"></i></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button class="btn btn-primary add_collection_link objectifsEvalues pull-right" id="btnAddObjectifsPasses" onclick="verifierNbObjectifs('tableObjectifsPasses','btnAddObjectifsPasses',true)">
            <i class="fa fa-plus"></i> Ajouter
        </button>
    </div>
</div>
<br/>