{% form_theme form 'crep/crepMindef/_include/edit/iii/1.form.html.twig' %}
<div class="row form-group">
    <div class="col-md-12 col-sm-12 col-xs-12">
    	<label for="crep_mindef_observationsAgentObjectifsFuturs" class="pull-left">Observations de l'agent (sur le chapitre II)</label>
        {{ form_widget(form.observationsAgentObjectifsFuturs) }}
    </div>
</div>
