<br>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <label>Rappel des principaux objectifs du service pour l'année à venir (en lien avec le projet de service) :</label>
        <div class="row form-group project_detail">
            <p class="well well-xs"> {{ crep.objectifsService | nl2br }}</p>
        </div>
    </div>
</div>
<br>