<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 30%">Compétences détenues non requises sur le poste actuellement occupé</th>
                    <th style="width: 10%" class="text-center">Exceptionnelle</th>
                    <th style="width: 10%" class="text-center">Forte</th>
                    <th style="width: 10%" class="text-center">Assez forte</th>
                    <th style="width: 10%" class="text-center">A développer</th>
                    <th style="width: 30%">Observations</th>
                </tr>
            </thead>
            <tbody>
                {% for competenceDetenue in crep.competencesTransversesDetenues %}
                    <tr>
                        <td>
                            {{ competenceDetenue.libelle }}
                        </td>
                        {% for index in 0..3 %}
                        	<td class="text-center">{{ competenceDetenue.niveauAcquis|iconCheck(loop.index0)|raw }}</td>
                        {% endfor %}
                        <td>
                            {{ competenceDetenue.observations|nl2br }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>