{% if app.session.get('selectedRole') == "ROLE_BRHP" or app.session.get('selectedRole') == "ROLE_SHD" %}

	{% set message = "Veuillez compléter cette information en renseignant un N+1.<br/>
					 <br/>
					 Pour cela, rendez-vous à la fiche de l’agent accessible depuis le bouton <strong><i class=\"fa fa-edit\"></i></strong>." %}
		
	{% if not agent.shd %}
	    <td>
	    	<div align="center">
	    		<i class="fa fa-exclamation-triangle orange" data-placement="auto" data-toggle="popover-warning" title="N+1 non renseigné" data-content="{{ message }}" data-trigger="hover"></i>
	    	</div>
	    </td>
	{% endif %}
{% endif %}