{% form_theme form 'crep/crepEdd/Form/App_form_crepEdd_12.html.twig' %}

{% if crep.statut == constant('AppBundle\\EnumTypes\\EnumStatutCrep::SIGNE_SHD') %}
    {% set class = 'champMisEnEvidence' %}
{% else %}
    {% set class = '' %}
{% endif %}

<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                <dl class="dl-horizontal m-t-md">
                        <dt>Observations</dt>
                        <dd>{{ form_row(form.observationsVisaAgent, {'label':false, 'attr': {'maxlength': '4096', 'class':class}}) }}</dd>
                </dl>
        </div>
</div>
