<div class="row form-groupe">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 project_detail">
        	<p class="well well-xs">{{ crep.autresFonctionsManageriales|nl2br }}</p>
        </div>
    </div>
</div>

