<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dd class="well well-xs">
                {{ crep.appreciationGenerale | nl2br }}
            </dd>
        </dl>
    </div>
</div>
<br/>