{# Le mail à envoyer à l'utilisateur pour réinitialiser le mot de passe #}

{% extends 'email/mail.base.html.twig' %}

{% block corpsMessage %}
	
	<tr>
        <td class="content-block">
        	Bonjour,
         </td>
    </tr>
    <tr>
        <td class="content-block">
            Suite à votre demande de réinitialisation de mot de passe, veuillez trouver ci-dessous le lien à usage unique vous permettant de le redéfinir :
		</td>
	<tr>
        <td class="content-block" align="center">
            <a href="{{ confirmationUrl }}" class="btn-primary">Réinitialiser mon mot de passe</a>
        </td> 
    </tr>
    <tr>
        <td class="content-block">
        	Une fois votre nouveau mot de passe réinitialisé, vous aurez accès aux services sécurisés de votre compte {{ appName }} à l'adresse suivante : 
		</td>
    </tr>

    <tr>
        <td class="content-block" align="center">
            <a class="btn_mail_link" href="{{ url('accueil') }}">Accéder à l'application</a>
        </td>
    </tr> 

{% endblock %}