{% form_theme form 'crep/crepMinefContract/Form/App_form_crep_minef_contract_6.html.twig' %}

<div class="row">
        {{ form_row(form.qualiteShd, {'label': 'Qualité (N+1)','attr': {'maxlength': '4096'}}) }}
</div>