{% extends "crep/crepMcc02/edit.html.twig" %}

{% block viii1 %}
    {% include 'crep/crepMcc02/_include/show/viii/1.html.twig' %}
{% endblock viii1 %}

{% block viii2 %}
    {% include 'crep/crepMcc02/_include/show/viii/2.html.twig' %}
{% endblock viii2 %}

{% block viii3 %}
    {% include 'crep/crepMcc02/_include/show/viii/3.html.twig' %}
{% endblock viii3 %}



{#{% block CommentairesAgent %}{% endblock CommentairesAgent %}#}

{#{% block avisAh %}{% endblock avisAh %}#}

{#{% block circuitDeValidation %}#}
    {#<div class="row">#}
        {#<div class="col-md-12 col-sm-12 col-xs-12">#}
            {#<div class="x_panel panel_green">#}
                {#<div class="x_title row">#}
                    {#<div class="col-md-12 col-sm-12 col-xs-12">#}
                        {#<h2 class="collapse-link" style="cursor:pointer">VIII - CIRCUIT DE VALIDATION</h2>#}

                        {#<ul class="nav navbar-right panel_toolbox">#}
                            {#<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="x_content row" {% if errors| length == 0 %} style="display: none;" {% endif %}>#}
                    {#{% include 'crep/crepMcc02/_include/edit/viii/1.html.twig' %}#}
                    {#{% include 'crep/crepMcc02/_include/edit/viii/2.html.twig' %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock circuitDeValidation %}#}
