<label>Observations liées à l’intelligence des situations :</label>
<div class="row form-group project_detail">
    <p class="well well-xs"> {{ crep.observationsCompetencesSituations | nl2br }}</p>
</div>
<div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <span>
            * Au total, le nombre de croix figurant dans la colonne « exceptionnelle » de ces 3 tableaux des compétences managériales ne doit pas dépasser 5. Chaque croix « exceptionnelle » doit être motivée dans la colonne « observations».
        </span>
    </div>
</div>
<br>
<br>

<br>
