

<label>Observations sur les compétences requises dans les fonctions</label>
<div class="row form-group project_detail">
    <p class="well well-xs"> {{ crep.observationsCompetencesRequises | nl2br }}</p>
</div>
<br>