<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Autres compétences démontrées par l’agent</th>
                <th class="text-center" width="100px">Exceptionnelle</th>
                <th class="text-center" width="100px">Forte</th>
                <th class="text-center" width="100px">Assez forte</th>
                <th class="text-center" width="100px">À développer</th>
                <th class="text-center" width="100px">Non observée</th>
            </tr>
            </thead>
            <tbody>
            {% if crep.competencesDemontrees is empty %}
                {% for i in 0..1 %}
                    <tr>
                        <td><br></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for key, competence in crep.competencesDemontrees %}
                    <tr>
                        {% if competence.libelle  is empty %}
                            <td><br></td><td></td><td></td><td></td><td></td><td></td>
                        {% else %}
                            <td>{{ competence.libelle | nl2br }}</td>
                            {% for index in 0..4 %}
                                <td class="text-center">{{ competence.niveauAcquis|iconCheckReverse(loop.revindex0, 4)|raw }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>


    </div>
</div>