<label>Observations sur les autres compétences démontrées par l’agent</label>
<div class="row form-group project_detail">
    <p class="well well-xs"> {{ crep.observationsCompetencesDemontrees | nl2br }}</p>
</div>