<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Observations</dt>
            <dd class="well well-xs">
                {{ crep.observationsVisaAgent|nl2br }}
            </dd>
        </dl>
    </div>
</div>

{% if not crep.agent.sansAh %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <dl class="dl-horizontal m-t-md">
                <dt>Date</dt>
                <dd>
                    {% if crep.dateRefusVisa %}
                        Refus de visa du CREP acté le {{ crep.dateRefusVisa|date('d/m/Y à H:i') }}
                    {% elseif crep.dateVisaAgent %}
                        {{ crep.dateVisaAgent|date('d/m/Y H:i') }}
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
{% endif %}