{% form_theme form 'crep/crepMj01/Form/App_form_crepMj01_12.html.twig' %}

<div class="row">
	{{ form_row(form.connaissancesInstitution, { 'label': "Connaissances de l'institution et de son organisation" }) }}
</div>

<div class="row">
	{{ form_row(form.connaissancesProfessionnelles, { 'label': "Connaissances professionnelles" }) }}
</div>

<div class="row">
	{{ form_row(form.experienceEncadrement, { 'label': "Expérience à l'encadrement" }) }}
</div>
