{% form_theme form 'crep/crepMindef01/Form/App_form_crepMindef01.html.twig' %}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th style="width: 12%" class="text-center">Excellent</th>
                    <th style="width: 12%" class="text-center">Très bon</th>
                    <th style="width: 12%" class="text-center">Bon</th>
                    <th style="width: 12%" class="text-center">Moyen</th>
                    <th style="width: 12%" class="text-center">Insuffisant</th>
                    <th style="width: 12%" class="text-center">Sans objet</th>
                </tr>
            </thead>
            <tbody>
                {% for competence in form.competencesManageriales %}
                    <tr>
                        <td>
                            {{ crep.competencesManageriales[loop.index0].competenceManageriale.libelle }}
                        </td>
                             {{ form_widget(competence) }}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
