<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Définition de l'objectif assigné</th>
                    <th>Perspectives d'amélioration des résultats professionnels</th>
                </tr>
            </thead>
            <tbody>
            {% for objectifFutur in crep.objectifsFuturs %}
                <tr>
                    <td>{{ objectifFutur.libelle | nl2br }}</td>
                    <td>{{ objectifFutur.observationsEventuelles | nl2br }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
</div>