<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="dl-horizontal m-t-md">
            <dt>Description des fonctions</dt>
            <dd>
                {{ form_row(form.descriptionFonctions,{'attr': {'maxlength': '4096'}}) }}
            </dd>
        </dl>
    </div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_row(form.datePriseFonctions, { 'label': "Date de prise de fonctions"}) }}
	</div>
</div>
