{% extends "crep/crep.base.html.twig" %}

{% block content %}

<div class="crep">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel panel_green">
                <div class="x_title row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>IDENTIFICATION DES PARTIES PRENANTES</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="x_content row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>1. Identification de l’agent </h3>
                        {% block i01 %}
                        {% endblock i01 %}
                        <h3>2. Identification de l'évaluateur</h3>
                        {% block i02 %}
                        {% endblock i02 %}
                        {% block i03 %}
                        {% endblock i03 %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel panel_green">
                <div class="x_title row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>1. APPRECIATION des résultats professionnels</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="x_content row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {#{% block i1 %}#}
                        {#{% endblock i1 %}#}
                        {#{% block i2 %}#}
                        {#{% endblock i2 %}#}
                        {#{% block i3 %}#}
                        {#{% endblock i3 %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <!-- chained -->
    <script src="{{ asset('js/chained.js') }}"
            type="text/javascript"></script>

{% endblock javascripts %}
