{% extends "crep/crep.base.html.twig" %}

{% block content %}

<div class="crep">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel panel_green">
                <div class="x_title collapse-link" style="cursor:pointer">
                    <h2>IDENTIFICATION DES PARTIES PRENANTES</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a><i class="fa fa-chevron-down"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                
                <div class="x_content row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>1. Identification de l’agent </h3>
                        {% block i01 %}
                        {% endblock i01 %}
                        <h3>2. Identification de l'évaluateur</h3>
                        {% block i02 %}
                        {% endblock i02 %}
                        {% block i03 %}
                        {% endblock i03 %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel panel_green">
                <div class="x_title collapse-link" style="cursor:pointer">
                    <h2>I – APPRÉCIATION DES RÉSULTATS PROFESSIONNELS</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a><i class="fa fa-chevron-down"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                
                <div class="x_content row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>1.1 Bilan des objectifs de l’année écoulée</h2>
                        {% block i1 %}
                        {% endblock i1 %}
                        <h3>1.2 Appréciation globale sur la réalisation des objectifs de l’année écoulée</h3>
                        {% block i2 %}
                        {% endblock i2 %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel panel_green">
                <div class="x_title collapse-link" style="cursor:pointer">
                    <h2>II. CRITÈRES D’APPRÉCIATION DE LA VALEUR PROFESSIONNELLE DE L’AGENT</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a><i class="fa fa-chevron-down"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                
                <div class="x_content row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>2.1 Critères généraux d’appréciation des agents de la protection judicaire de la jeunesse</h2>
                        <h3>Dans quelle mesure l’agent a-t-il satisfait aux exigences suivantes ? </h3>
                        {% block ii1 %}
                        {% endblock ii1 %}
                        {#<h3>1.2 Appréciation globale sur la réalisation des objectifs de l’année écoulée</h3>#}
                        {#{% block i2 %}#}
                        {#{% endblock i2 %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
    
{% endblock content %}

{% block circuitDeValidation %}
{% endblock circuitDeValidation %}


{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
