{% form_theme form 'crep/crepMso5/Form/App_form_crepMso5_12.html.twig' %}

<div class="row">
    {{ form_row(form.observationsObjectifsPasses, { 'label': "Observations éventuelles de l’évaluateur" }) }}
</div>




