<br>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>En cas d’absence d’entretien professionnel, préciser les motifs</dt>
            <dd class="well well-xs">
                {{ crep.motifAbsenceEntretien|nl2br }}
            </dd>
        </dl>
    </div>
</div>
