{% extends "crep/crep.base.html.twig" %}

{% block content %}

	<div class="crep">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>IDENTIFICATION DES PARTIES PRENANTES</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-down"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
	
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>1. Identification de l’agent</h3>
							{% block i01 %} {% endblock i01 %}
							<h3>2. Identification de l'évaluateur</h3>
							{% block i02 %} {% endblock i02 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>I – CONTEXTE</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
	
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>1. Le contexte</h3>
							{% block i1 %} {% endblock i1 %} <br>
							<h3>2. Missions et activités</h3>
							{% block i2 %} {% endblock i2 %} <br>
							<h3>3. Eléments observés</h3>
							{% block i3 %} {% endblock i3 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>II – COMPOSANTE DU POSTE</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
	
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">{% block ii1 %} {%
							endblock ii1 %} {% block ii2 %} {% endblock ii2 %}</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>III – ATTEINTES DES OBJECTIFS ET ACTIONS CONDUITES</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
	
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>1. Elements prévus</h3>
							{% block iii1 %} {% endblock iii1 %} <br>
							<h3>2. Elements observés</h3>
							{% block iii2 %} {% endblock iii2 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>IV – CONTRIBUTIONS AUX COMPÉTENCES COLLECTIVES ET AU
							FONCTIONNEMENT DU SERVICE</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<i class="fa fa-info-circle" aria-hidden="true"></i> <i>&nbsp;&nbsp;Formation
								reçue/donnée, participation au développement des compétences et
								connaissances, capacité à créer une dynamique de groupe, capacité
								à s'insérer dans un groupe (cf. guides de l'évalué ou du compte
								rendu), force de proposition, communication, participation à des
								groupes de travail stratégiques, vie sociale, intérim, etc.</i>
						</div>
					</div>
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>1. Elements prévus</h3>
							{% block iv1 %} {% endblock iv1 %} <br>
							<h3>2. Elements observés</h3>
							{% block iv2 %} {% endblock iv2 %}
                            {% block iv3 %} {% endblock iv3 %}
                            {% block iv4 %} {% endblock iv4 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>V – APPRÉCIATION DES CONNAISSANCES ET COMPÉTENCES
							PROFESSIONNELLES</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
	
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>1. Degré d'acquisition au regard des besoins sur le poste :</h3>
							{% block v1 %} {% endblock v1 %}
							{% block v2 %} {% endblock v2 %}
							<h3>2. Pour les agents en situation de management :</h3>
							{% block v3 %} {% endblock v3 %}
							<h3>3. Synthèse sur la manière de servir :</h3>
							{% block v4 %} {% endblock v4 %}
							{% block v5 %} {% endblock v5 %}
							<h3>4. Appréciation générale :</h3>
							{% block v6 %} {% endblock v6 %}
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>VI – ENTRETIEN PROFESSIONNEL ANNÉE 2017 - OBJECTIFS POUR l'ANNÉE SUIVANTE 2018</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>1. Contexte prévisible de l'année suivante</h3>
							{% block vi1 %} {% endblock vi1 %}
							<h3>2. Objectifs </h3>
							{% block vi2 %} {% endblock vi2 %}
							<h3>3. Contribution aux compétences collectives </h3>
							<i class="fa fa-info-circle" aria-hidden="true">&nbsp;&nbsp;Pour les formations à
								recevoir, remplis obligatoirement la feuille prévue à cet effet (page annexe).</i>
							{% block vi3 %} {% endblock vi3 %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>VII – ÉVALUATION DES FORMATIONS SUIVIES LORS DE L'ANNÉE ÉCOULÉE</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					
					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3></h3>
							{% block vii1 %} {% endblock vii1 %}
                            {% block vii2 %} {% endblock vii2 %}
                            {% block vii3 %} {% endblock vii3 %}
                            {% block vii4 %} {% endblock vii4 %}
							<h3>Besoins en formation de l’année 2018</h3>
                            {% block vii5 %} {% endblock vii5 %}
                            {% block vii6 %} {% endblock vii6 %}
                            {% block vii7 %} {% endblock vii7 %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel panel_green">
					<div class="x_title collapse-link" style="cursor: pointer">
						<h2>VIII – OBSERVATIONS ET SIGNATURES</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a><i class="fa fa-chevron-up"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<div class="x_content row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="row form-group">
								<em>(*l’agent dispose d’un délai de 10 jours à partir de la notification de ce compte rendu pour mettre ses observations et le signer)</em>
							</div>
                            {% block viii1 %} {% endblock viii1 %}
							<h3>Agent</h3>
                            {% block viii2 %} {% endblock viii2 %}
							<h3>Supérieur hiérarchique direct (N + 1)</h3>
                            {% block viii3 %} {% endblock viii3 %}
							<h3>Autorité hiérarchique</h3>
                            {% block viii4 %} {% endblock viii4 %}
							<div class="x_content row">
								<p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
									<span class="text-center"><b>Mention droits d'accès aux fichiers et libertés</b></span>
									<br/>
									<span>« Les informations ci-dessus font l’objet d’une saisie informatique et d’un traitement automatisé de données à
                                            caractère personnel. Conformément à la loi n° 78-17 du 6 janvier 1978 modifiée relative à l’informatique,
                                            aux fichiers et aux libertés, ce traitement a été déclaré à la commission nationale de l’informatique et des
                                            libertés. Les droits d’accès et de rectification prévus aux articles 39 et 40 de la loi précitée s’exercent
                                            auprès du directeur du centre ministériel de gestion ou du sous-directeur de la gestion des personnels relevant
                                            de l’administration centrale. »
                                        </span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
{% endblock content %}

{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}
