<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Nature des dossiers ou travaux</p>
		<p class="well well-xs">{{ crep.natureDossiersTravaux | nl2br }}</p>
    </div>
</div>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Les résultats obtenus par l'agent</p>
		<p class="well well-xs">{{ crep.resultatsObtenusParAgent | nl2br }}</p>
    </div>
</div>

<div class="row project_detail">
    <div class="col-md-12 col-sm-12 col-xs-12">
		<p class="title">Ce qui a facilité ou freiné les résultats</p>
		<p class="well well-xs">{{ crep.contexteResultats | nl2br }}</p>
    </div>
</div>