<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
	            <th colspan="2">Évalué<small> (à remplir par l'agent)</small></th>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">Observations éventuelles de l’agent sur son activité et la  réalisation des objectifs</td>
                    <td>{{ crep.observationsAgentSurSonActivite | nl2br }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
