<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <dl class="m-t-md">
            <dt>Appréciation d’ensemble de l’évaluateur sur la valeur professionnelle de l’agent</dt>
            <dd class="well well-xs">
                {{ crep.appreciationShd|nl2br }}
            </dd>
        </dl>
    </div>
</div>






