{% extends "index.base.html.twig" %}
{% import "macro/app.html.twig" as macro %}

{% block frameTitle %}Campagne PNC{% endblock frameTitle %}
{% block pageIcon %}fa fa-circle-o-notch{% endblock pageIcon %}
{% block pageTitle %}Campagnes{% endblock pageTitle %}

{% block content %}

	<div class="row">
    	<div class="col-md-12 col-sm-12 col-xs-12">
        	{% block informationsCampagne %}
        		{% include 'campagnePnc/blocsTableauDeBord/informationsCampagne.html.twig' %}
        	{% endblock informationsCampagne %}			  
    	</div>
    </div><!-- /.row -->

    <div class="row">
		<div class="col-xs-4">
			{% if is_granted(constant('AppBundle\\Security\\CampagnePncVoter::SUPPRIMER'), campagnePnc) %}
				<button type="button" class="btn btn-danger pull-left" data-toggle="modal" data-target="#modal_supprimer"><i class="fa fa-trash"></i> Supprimer la campagne</button>
			{% endif %}     
		</div>
        
        <div class="col-xs-4 text-center">
			{% if is_granted(constant('AppBundle\\Security\\CampagnePncVoter::MODIFIER'), campagnePnc) %}
				<a href="{{ path('campagne_pnc_edit', { 'id': campagnePnc.id }) }}">
					<button type="submit" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i> Modifier la campagne</button>
				</a>
			{% endif %}
		</div>

        <div class="col-xs-4">
			{% if is_granted(constant('AppBundle\\Security\\CampagnePncVoter::OUVRIR'), campagnePnc) %}
                <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#modal_ouvrir"><i class="fa fa-unlock"></i> Ouvrir la campagne</button>
            {% endif %}
		</div>
    </div><!-- /.row -->
    
    {############## Modals ##############}
	{% if is_granted(constant('AppBundle\\Security\\CampagnePncVoter::OUVRIR'), campagnePnc) %}
        {{ macro.modal('success', 'modal_ouvrir', "Ouvrir la campagne", "Voulez-vous vraiment <strong>ouvrir</strong> cette campagne aux acteurs de niveau local ?", "fa-unlock", ouvrir_form)}} 
    {% endif %}
    
    {% if is_granted(constant('AppBundle\\Security\\CampagnePncVoter::SUPPRIMER'), campagnePnc) %}
        {{ macro.modal('danger', 'modal_supprimer', "Supprimer la campagne", "Voulez-vous vraiment <strong>supprimer</strong> cette campagne ?", "fa-trash", delete_form)}} 
	{% endif %}
	
{% endblock content %}