<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td style="width:20%">Sur la conduite de l'entretien et les thèmes abordés</td>
                    <td>{{ form_row(form.observationsVisaAgent, {'label':false, 'attr': {'class':'champMisEnEvidence'}}) }}</td>
                </tr>
                
                <tr>
                    <td>Sur les appréciations portées</td>
                    <td>{{ form_row(form.observationsAppreciationsPorteesAgent,  {'label':false, 'attr': {'class':'champMisEnEvidence'}}) }}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
