<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Année</th>
                <th class="text-center">Formation demandée</th>
                <th class="text-center">Durée</th>
                <th class="text-center">Commentaires (appréciation, bilan, suites)</th>
            </tr>
            </thead>
            <tbody>
            {% if crep.formationsSuivies is empty %}
                {% for index in 0..2 %}
                    <tr align="left" bgcolor="#FFFFFF">
                        <td><br></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for formation in crep.formationsSuivies %}
                <tr>
                    <td class="text-center">{{ formation.annee | nl2br }}</td>
                    <td>{{ formation.libelle | nl2br  }}</td>
                    <td class="text-center">{{ formation.type | nl2br }}</td>
                    <td>{{ formation.commentaires | nl2br  }}</td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>